<div class="row">
    <div class="col-md-3">
        <div class="settings-side-nav">
            <h2>Elder or Care Giver</h2>
            <ul class="list-unstyled">
                <li><a href="#/settings/media">Photos and Interview Videos</a></li>
                <li><a href="#/settings/verification">Trust and Verification</a></li>
                <li><a href="#/settings/references">References</a></li>
                <li><a href="#/settings/reviews">Reviews</a></li>
            </ul>
        </div>
        <a class="btn preview-profile btn-info" href="#/profile">Preview Profile</a>
    </div>
    <div class="col-md-9" ui-view>
    </div>
</div>
