<div class="row settings">
    <div class="col-md-3">
        <div class="list-group">
            <a href class="list-group-item" ui-sref-active-eq="active"
               ui-sref="settings.profile">Basic Information</a>
            <a href class="list-group-item" ui-sref-active-eq="active"
               ui-sref="settings.media">Photos and Interview Videos</a>
            <a href class="list-group-item" ui-sref-active-eq="active"
               ui-sref="settings.verification">Trust and Verification</a>
            <a href class="list-group-item" ui-sref-active-eq="active"
               ui-sref="settings.caregiver.edit">Edit Caregiver Profile</a>
            <a href class="list-group-item" ui-sref-active-eq="active"
               ui-sref="settings.caregiver.view">Preview Profile</a>
        </div>
    </div>
    <div class="col-md-9" ui-view></div>
</div>
