<form class="caregiver-form" ng-submit="submitAboutMe(aboutMe)" ng-model="aboutMe">

<div class="settings-block">
    <h2>About Me</h2>
    <div class="settings-block-body">
        <div class="form-group">

            <div class="form-group caregiver-para">
                <label for="gender" class="col-md-3 control-label caregiver-label">
                    I am
                </label>
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-body">
                                <select id="gender" name="gender" class="form-group" ng-model="aboutMe.gender">
                                  <option><b class="text-muted">Select Gender</b></option>
                                  <option value="Male">Male</option>
                                  <option value="Female">Female</option>
                                  <option value="Other">Other</option>
                                </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group caregiver-para">
                <label for="care-services" class="col-md-3 control-label caregiver-label">
                    Care services
                </label>
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <b class="text-muted">Select care services you are willing to provide</b>
                            <div class="checkbox col-md-offset-1" ng-repeat="careservice in aboutMe.careservices">
                                <label>
                                    <input type="checkbox" ng-model="careservice.value"> {{ careservice.name }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group caregiver-para">
                <label for="allergies" class="col-md-3 control-label caregiver-label">
                    Allergies
                </label>
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <b class="text-muted">Do you have any allergies?</b>
                            <div class="checkbox col-md-offset-1" ng-repeat="allergy in aboutMe.allergies">
                                <label>
                                    <input type="checkbox" ng-model="allergy.value"> {{ allergy.name }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group caregiver-para">
                <label for="allergies" class="col-md-3 control-label caregiver-label">
                    Gender preference
                </label>
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <b class="text-muted">Do you prefer to provide care for only a certain gender?</b>
                            <div class="col-md-offset-1">
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="aboutMe.genderPref" value="None"> No Preference
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="aboutMe.genderPref" value="Men"> Men only
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="aboutMe.genderPref" value="Women"> Women only
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group caregiver-para">
                <div class="row">
                <label for="bio" class="col-md-3 control-label caregiver-label">Describe yourself</label>
                <div class="col-md-9">
                    <div class="panel panel-default">
                    <div class="panel-body">
                        <textarea ng-model="aboutMe.description" placeholder="write something about yourself"
                                  rows="4" id="bio"class="form-control">
                        </textarea>
                    </div>
                    <div class="panel-footer">
                        <div class="caregiver-para"><b>humanlink</b> is built on trust.
                            Our care seekers want to know that you are compassionate and caring.
                            This is your opportunity to let them know about your compassion.
                            Taking a few minutes to build an awesome online profile can increase
                            your chances of getting hired.
                        </div>
                        <div class="caregiver-para">Tell our users what makes you an awesome caregiver:
                            why should they hire you?
                            If you are a volunteer at an organization that helps your community or
                            If you are religious or spiritual share with them why it is important to you?
                        </div>
                        <div class="caregiver-para">Tell our users about things you like:
                            what are 5 things you can't live without?
                            Share your favorite travel destinations, books, movies, shows, music, food.
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="form-group caregiver-para">
                <label for="certifications" class="col-md-3 control-label caregiver-label">Certifications</label>
                <div class="col-md-9">
                    <div ng-hide="aboutMe.certifications.length">
                        No certifications on file.
                    </div>
                    <div ng-show="aboutMe.certifications.length">
                        <div ng-repeat="cert in aboutMe.certifications">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a ng-click="deleteCertification($index)" class="caregiver-delete-item">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                    <h3 class="panel-title">
                                    {{ cert.school }}
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    {{ cert.title }}
                                    <div class="pull-right">{{cert.month}} {{ cert.year }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <button type="button" class="btn" ng-click="addCert=addCert+1" ng-init="addCert=1">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Add certification
                            </button>
                            <div ng-show="isEven(addCert)">
                                <div class="caregiver-select">
                                    <div class="form-group">
                                        <label>School</label>
                                        <input type="text" ng-model="certification.school"
                                               typeahead="school for school in initData.schools
                                               | filter:$viewValue | limitTo:4"
                                               class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Certification</label>
                                        <input type="text" ng-model="certification.title"
                                               typeahead="cert for cert in initData.certifications
                                               | filter:$viewValue | limitTo:4"
                                               class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Year</label>
                                        <input type="text" ng-model="certification.year"
                                               typeahead="year for year in initData.years
                                               | filter:$viewValue | limitTo:8"
                                               class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Month</label>
                                        <input type="text" ng-model="certification.month"
                                               typeahead="mth for mth in initData.months
                                               | filter:$viewValue | limitTo:3"
                                               class="form-control">
                                    </div>
                                </div>
                                <button type="button" class="btn btn-sm btn-default" ng-click="addCertification()">
                                    Add certification
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="caregiver-para">
                <label for="emergency" class="col-md-3 control-label caregiver-label">Emergency contacts</label>
                <div class="col-md-9">
                    <div ng-hide="aboutMe.emergencys.length">
                        No Emergency contact on file.
                    </div>
                    <div ng-show="aboutMe.emergencys.length">
                        <div ng-repeat="emergency in aboutMe.emergencys">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a ng-click="deleteEmergency($index)" class="caregiver-delete-item">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                    <h3 class="panel-title">
                                    Emergency Contact - {{ $index + 1 }}
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <h5><b>Name: </b>{{ emergency.name }}</h5>
                                    <h5><b>Phone Number: </b>{{ emergency.phone }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <button type="button" class="btn" ng-click="addEmer=addEmer+1" ng-init="addEmer=1">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Add emergency contact information
                            </button>
                            <div ng-show="isEven(addEmer)">
                                <div class="caregiver-select">
                                    <div class="form-group">
                                        <label> name</label>
                                        <input ng-model="emergency.newName" type="text"
                                               class="form-control" placeholder="Name"/>
                                    </div>
                                    <div class="form-group">
                                        <label> number</label>
                                        <input ng-model="emergency.newNumber" type="text"
                                               class="form-control" placeholder="Phone number"/>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-default" ng-click="addEmergency()">
                                    Add emergency contact info
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-default">Save data</button>
        </div>
    </div>
</div>

<div class="settings-block">
    <h2>Additional information</h2>
    <div class="settings-block-body">
        <div class="form-group">

            <div class="caregiver-para">
                <label for="languages" class="col-md-3 control-label caregiver-label">Languages</label>
                <div class="col-md-9">

                    <div class="row">
                        <ul class="caregiver-nav">
                            <li class="col-md-3" ng-repeat="lang in aboutMe.languages">
                                <a class="caregiver-a" href="#">{{ lang.language }}</a>
                                <a ng-click="deleteLanguage($index)" class="caregiver-delete-item">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <button type="button" class="btn" ng-click="addLang= addLang + 1">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    Add languages
                                </button>
                                <div ng-show="isEven(addLang)">
                                    <div class="caregiver-select">
                                        <div class="form-group">
                                            <label>Language</label>
                                            <input type="text" ng-model="newLanguage"
                                                   typeahead="lang for lang in initData.languages
                                                   | filter:$viewValue | limitTo:2"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-sm btn-default" ng-click="addLanguage()">
                                        Add language
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        <button class="btn btn-default">Save additional information</button>
        </div>
    </div>
</div>

</form>
