<div class="settings-media">

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Profile Photo</h2>
    </div>
    <div class="panel-body">
        <div class="media">
          <div class="media-left">
              <img class="media-object" src="https://placehold.it/150x150"/>
          </div>
          <div class="media-body">
              <h3>Drop Here</h3>
              <form>
                  <button type="submit" class="btn btn-primary">Browse</button>
              </form>
          </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Profile Video</h2>
    </div>
    <div class="panel-body">
        <div class="media">
          <div class="media-left">
              <img class="media-object" src="https://placehold.it/150x150"/>
          </div>
          <div class="media-body">
              <h3>Youtube Video</h3>
              <form class="form-inline">
                  <div class="form-group">
                      <input type="text" placeholder="https://www.youtube.com/yourvideo" class="form-control"/>
                      <button type="submit" class="btn btn-primary">Upload</button>
                  </div>
              </form>
          </div>
        </div>
    </div>
</div>

</div>