<div class="settings-media">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Profile Photo</h2>
    </div>
    <div class="panel-body">
      <form>
        <input type="file" file-model="myFile"/>
        <button class="btn btn-secondary" ng-click="uploadFile()">Upload</button>
        <hr>
        <input type="file" name="img"/>
        <input type="submit" value="Sign Guestbook">
      </form>
    </div>
  </div>
  <hr>
  <input ng-model="imageurl" type="url"/>
  <button ng-click="loadimage()" type="button">Load Image</button>
  <img ng-src="{{image.path}}"
       style="width: {{image.width}}px; height: {{image.height}}px"/>
  <hr>
  <pre> {{ mediaCollection | json}}</pre>
  <pre> {{ usr | json}}</pre>
</div>