<div class="settings-block">
   <h2>Profile Photo</h2>
    <div class="settings-block-body">
        <img class="settings-preview-photo" src="http://placehold.it/150x150" alt=""/>
        <div class="settings-upload">
            <h3>Drop Here</h3>
            <form>
                <button class="btn upload-btn">BROWSE</button>
            </form>
        </div>
    </div>
</div>

<div class="settings-block">
   <h2>Profile Video</h2>
    <div class="settings-block-body">
        <img class="settings-preview-photo" src="http://placehold.it/150x150" alt=""/>
        <div class="settings-upload">
            <h3>Upload Youtube Video</h3>
            <form class="form-inline settings-video-form">
                <div class="form-group">
                    <input type="text" placeholder="http://www.youtube.com/yourvideo" class="form-control"></input>
                    <button class="btn upload-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
