<div class="settings-profile">
  <div class="card">


    <div class="text-center">
      <img src="https://placehold.it/150x150">
    </div>
    <h2 class="text-center">Hello, My name is {{profile.name}} </h2>

    <div ng-show="profile.location">
      <h5 class="text-center">I live in {{profile.location}} </h5>
    </div>

    <div ng-show="profile.headline">
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h3>Headline</h3>
        </div>
        <div class="col-sm-9">
          <p class="lead">{{profile.headline}}</p>
        </div>
      </div>
    </div>

    <div ng-show="profile.bio">
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h3>Bio</h3>
        </div>
        <div class="col-sm-9">
          <p class="lead">{{profile.bio}}</p>
        </div>
      </div>
    </div>

    <div ng-show="profile.bio">
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h3>Education</h3>
        </div>
        <div class="col-sm-9">
          <p class="lead">School: {{profile.school}}</p>

          <p class="lead">Certificate(s):</p>

          <div ng-if="profile.cna"><p class="lead">CNA</p></div>
          <div ng-if="profile.lpn"><p class="lead">LPN</p></div>
          <div ng-if="profile.iha"><p class="lead">IHA</p></div>
          <div ng-if="profile.ad"><p class="lead">AD</p></div>
          <div ng-if="profile.hcs"><p class="lead">HCS</p></div>
        </div>
      </div>
    </div>


    <hr>
    <div class="row">
      <div class="col-sm-3">
        <h3>Preferences</h3>
      </div>
      <div class="col-sm-9">
        <div ng-if="profile.live_in" class="lead"> I am open to live-in
          arrangements.
        </div>
        <div ng-if="profile.weekdays" class="lead"> I can work on weekdays.</div>
        <div ng-if="profile.weekends" class="lead"> I can work on weekends.</div>
        <div ng-if="profile.cats" class="lead"> I am allergic to cats.</div>
        <div ng-if="profile.dogs" class="lead"> I am allergic to dogs.</div>
        <div ng-if="profile.smoking" class="lead"> I am allergic to smoking.</div>
      </div>
    </div>

    <hr>
    <h3 class="text-center">Trust and Verification</h3>

    <div class="profile-trust">
      <div class="row">

        <div class="col-sm-4">
          <div ng-show="profile.phone_number_verified">
            <div class="col-sm-3">
              <span class="glyphicon glyphicon-ok"></span>
            </div>
            <div class="col-sm-9">
              <p class="lead">Mobile number</p>
              <p>Verified</p>
            </div>
          </div>
          <div ng-hide="profile.phone_number_verified">
            <div class="col-sm-3">
              <span class="glyphicon glyphicon-remove"></span>
            </div>
            <div class="col-sm-9">
              <p class="lead">Mobile number</p>
              <p>Not verified</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div ng-show="profile.offline_id_verified">
            <div class="col-sm-3">
              <span class="glyphicon glyphicon-ok"></span>
            </div>
            <div class="col-sm-9">
              <p class="lead">Offline ID</p>
              <p>Verified</p>
            </div>
          </div>
          <div ng-hide="profile.offline_id_verified">
            <div class="col-sm-3">
              <span class="glyphicon glyphicon-remove"></span>
            </div>
            <div class="col-sm-9">
              <p class="lead">Offline ID</p>
              <p>Not verified</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div ng-show="profile.background_verified">
            <div class="col-sm-3">
              <span class="glyphicon glyphicon-ok"></span>
            </div>
            <div class="col-sm-9">
              <p class="lead">Background verified</p>
              <p>Verified</p>
            </div>
          </div>
          <div ng-hide="profile.background_verified">
            <div class="col-sm-3">
              <span class="glyphicon glyphicon-remove"></span>
            </div>
            <div class="col-sm-9">
              <p class="lead">Background</p>
              <p>Not verified</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>