<div class="settings-profile">

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Basic Information</h2>
    </div>
    <form class="form-horizontal" ng-submit="update(accountForm)">
        <div class="panel-body">
            <div class="form-group">
                <label for="profile-name" class="col-md-3 control-label">
                    Name</label>
                <div class="col-md-3">
                    <input id="profile-name" class="form-control"
                           ng-model="accountForm.first" placeholder="Jane" />
                </div>
                <div class="col-md-4">
                    <input class="form-control" ng-model="accountForm.last" placeholder="Doe"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                        Email Address</label>
                <div class="col-md-7">
                    <p class="form-control-static">
                        <strong> {{ ::accountForm.email }} </strong>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="profile-phone" class="col-md-3 control-label">
                    Phone Number</label>
                <div class="col-md-4">
                    <input type="tel" id="profile-phone" class="form-control"
                           ng-model="accountForm.phone_number" placeholder="555-555-5555"
                           maxlength="12"/>
                </div>
            </div>
            <div class="form-group">
                <label for="profile-type" class="col-md-3 control-label">
                    Account Type</label>
                <div class="col-md-9">
                    <div class="radio" ng-repeat="at in ::accountTypes">
                        <label>
                            <input type="radio" ng-model="accountForm.account_type" ng-value="at.name" /> {{ at.name }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-center">
            <button type="submit" class="btn btn-primary"
                    ng-disabled="updateReq.isLoading">Save</button>
        </div>
    </form>
</div>

<div ng-include="secondaryTemplate[account.account_type]"></div>

</div>