<div class="settings-profile">

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Basic Information</h2>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="profile-name" class="col-md-3 control-label">Name</label>
                <div class="col-md-3">
                    <input id="profile-name" class="form-control" placeholder="First"/>
                </div>
                <div class="col-md-4">
                    <input id="profile-name" class="form-control" placeholder="Last"/>
                </div>
            </div>
            <div class="form-group">
                <label for="profile-email" class="col-md-3 control-label">Email</label>
                <div class="col-md-7">
                    <input type="email" id="profile-email" class="form-control" placeholder="name@example.com"/>
                </div>
            </div>
            <div class="form-group">
                <label for="profile-phone" class="col-md-3 control-label">Phone Number</label>
                <div class="col-md-7">
                    <input type="tel" id="profile-phone" class="form-control" placeholder="555-555-5555"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-7 col-md-offset-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Care Receivers</h2>
    </div>
    <div class="panel-body">
        <accordion close-others="true" class="settings-reviews">
            <accordion-group ng-repeat="careReceiver in account.careReceivers">
                <accordion-heading>
                    {{careReceiver.name}}
                </accordion-heading>
                <form class="background-check-form">
                    <div class="form-group">
                        <label for="care-seeker-name">Name</label>
                        <input id="care-seeker-name" class="form-control" placeholder="Jane Doe" ng-model="careReceiver.name"/>
                    </div>
                    <div class="form-group">
                        <label class="top-label">Caregiver Gender Preference</label>
                        <div class="radio profile-settings-radio">
                            <label class="radio-label profile-settings-radio-label">
                                <input type="radio" ng-value="male" name="preference-{{careReceiver.name}}" ng-model="careReceiver.pref"> Male
                            </label>
                            <label class="profile-settings-radio-label">
                                <input type="radio" ng-value="female" name="preference-{{careReceiver.name}}" ng-model="careReceiver.pref"> Female
                            </label>
                            <label class="profile-settings-radio-label">
                                <input type="radio" ng-value="none" name="preference-{{careReceiver.name}}" ng-model="careReceiver.pref"> None
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="care-seeker-email">Email</label>
                        <input type="email" id="care-seeker-email" class="form-control" placeholder="jane@gmail.com" ng-model="careReceiver.email" />
                    </div>
                    <div class="form-group">
                        <label for="care-seeker-tel">Phone Number</label>
                        <input type="tel" id="care-seeker-tel" class="form-control" placeholder="555-555-5555" ng-model="careReceiver.phone" />
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input id="address" class="form-control" placeholder="123 example st." ng-model="careReceiver.address" />
                    </div>
                    <div class="form-inline form-group">
                        <div class="form-group">
                            <label class="top-label" for="city">City</label>
                            <input id="city" class="form-control" placeholder="Fayetteville" ng-model="careReceiver.city"/>
                        </div>
                        <div class="form-group">
                            <label class="top-label" for="state">State</label>
                            <select id="dl-state" name="state" class="form-control" ng-model="careReceiver.state" ng-options="state for state in states">
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="top-label" for="zip">Zipcode</label>
                            <input id="zip" class="form-control" placeholder="11111" ng-model="careReceiver.zip"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Allergies</label>
                        <ul class="list-unstyled">
                            <li ng-repeat="allergy in careReceiver.allergies track by $index" class="allergy-item">
                                <input type="text" ng-model="careReceiver.allergies[$index]" class="form-control" placeholder="Any food, drug, or other allergies..."/>
                            </li>
                        </ul>
                        <button class="btn btn-default" ng-click="addAllergy(careReceiver)">Add Allergy</button>
                    </div>
                    <div class="form-group">
                        <label for="notes-{{careReceiver.name}}">Notes</label>
                        <textarea id="notes-{{careReceiver.name}}" class="form-control" placeholder="Any notes about care receiver..." ng-model="careReceiver.notes"></textarea>
                    </div>
                    <input class="btn btn-default" type="submit" value="Save"/>
                </form>
            </accordion-group>
            <div class="form-group">
                <button class="btn btn-default" ng-click="addCareReceiver()">+ New Receiver</button>
            </div>
        </accordion>
    </div>
</div>

</div>