
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Care Recipients</h2>
    </div>
    <div class="panel-body">
        <p class="lead">
            Tell us about your care needs so we can suggest the most suitable
            caregivers.</p>
        <p>Information you enter here will only be visible to the caregiver
            who accepts a job you post.
            The caregiver will use this information to better communicate with
            the care recipient.</p>
        <a type="button" id="new-care" class="btn btn-secondary" href="#/settings/new_recipient/new/who">
            + Add new recipient
        </a>

        <div ng-if="recipients.length">
            <hr/>
            <div class="row vmargin3" ng-repeat="rec in recipients">
                <div class="col-md-6 col-xs-6">
                    <strong>{{ rec.first || rec.nickname }}</strong>
                </div>
                <div class="col-md-6 col-xs-6 text-right">
                    <button type="button" class="btn btn-default" ng-click="edit(rec)">
                        <span class="glyphicon glyphicon-edit"></span>
                        Edit</button>
                    <button type="button" class="btn btn-danger"
                            ng-click="archive(rec)" ng-disabled="rec.isLoading">
                        <span class="glyphicon glyphicon-trash"></span>
                        Archive</button>
                </div>
            </div>
        </div>
        <div ng-hide="recipients.length"> Creating a recipient profile is easy and
            speedens your care seeking process.
        </div>
    </div>
</div>
