<div class="settings-references">

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">References</h2>
    </div>
    <div class="panel-body">
        <form class="form-inline" onsubmit="addReference(refName, refEmail)">
            <div class="form-group">
                <label for="ref-name">Reference Name: </label>
                <input ng-model="refName" id="ref-name" class="form-control" type="text" placeholder="John Doe" />
            </div>
            <div class="form-group">
                <label for="ref-email">Reference Email: </label>
                <input ng-model="refEmail" id="ref-email" class="form-control" type="text" placeholder="jdoe@example.com" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-secondary">Add Reference</button>
            </div>
        </form>

        <ul class="list-unstyled">
            <li ng-repeat="reference in account.references">
                {{ reference.name }}
                <span>
                    &lt;<a href="mailto:{{ reference.email }}">{{reference.email}}</a>&gt;
                </span>
            </li>
        </ul>
    </div>
</div>

</div>