<div class="settings-verification">

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Verifications</h2>
    </div>
    <div class="panel-body">
        <div class="alert verification" ng-class="account.emailVerified ? 'alert-success' : 'alert-danger'" role="alert">
            <div ng-if="!account.emailVerified">
                <span  class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Not Verified:</span>
                <span>You have not verified your Email.</span>
            </div>

            <div ng-if="account.emailVerified">
                <span class="glyphicon glyphicon-ok"></span>
                <span>Your Email is verified!</span>
            </div>
        </div>
        <div class="alert verification" ng-class="account.phoneVerified ? 'alert-success' : 'alert-danger'" role="alert">
            <div ng-if="!account.phoneVerified">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Not Verified:</span>
                <span>You have not verified your mobile phone.</span>
            </div>

            <div ng-if="account.phoneVerified">
                <span class="glyphicon glyphicon-ok"></span>
                <span>Your mobile phone is verified!</span>
            </div>
        </div>
        <div class="alert verification" ng-class="account.backgroundVerified ? 'alert-success' : 'alert-danger'" role="alert">
            <div ng-if="!account.backgroundVerified">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Not Verified:</span>
                <span>You have not verified your background using our background check.</span>
            </div>

            <div ng-if="account.backgroundVerified">
                <span class="glyphicon glyphicon-ok"></span>
                <span>Your background is verified!</span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Background Check</h2>
    </div>
    <div class="panel-body">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            In eget orci ut lectus sollicitudin ultrices sed ut lorem.
            Donec eu tellus interdum, cursus neque nec, porttitor sapien.
            Praesent placerat rutrum eros, non placerat turpis.
        </p>
        <form>
            <div class="form-group">
                <label for="address">Address</label>
                <br/>
                <input id="address"class="form-control" placeholder="123 Example St." />
            </div>
            <div class="form-inline form-group">
                <div class="form-group">
                    <label for="city">City</label>
                    <br/>
                    <input id="city" class="form-control" placeholder="Fayetteville" />
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <br/>
                    <select id="dl-state" name="state" class="form-control" ng-model="chosenAddrState" ng-options="state for state in states">
                    </select>
                </div>
                <div class="form-group">
                    <label for="zip">Zipcode</label>
                    <br/>
                    <input id="zip" class="form-control" placeholder="11111" />
                </div>
            </div>
            <div class="form-inline form-group">
                <div class="form-group">
                    <label for="dl-num">Drivers License #</label>
                    <br/>
                    <input id="dl-num" class="form-control" placeholder="000-000-000"/>
                </div>
                <div class="form-group">
                    <label for="dl-state">State</label>
                    <br/>
                    <select id="dl-state" name="state" class="form-control" ng-model="chosenDLState" ng-options="state for state in states">
                    </select>
                </div>
                <div class="form-group">
                    <label for="dl-exp-date">Expiration Date</label>
                    <br/>
                    <input class="form-control" placeholder="01/01/1911">
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <br/>
                    <input class="form-control" placeholder="01/01/1911" />
                </div>
            </div>
            <div class="form-group">
                <label for="ssn">Social Security #</label>
                <br/>
                <input class="form-control" placeholder="000-00-0000"/>
            </div>
            <div class="checkbox form-inline form-group">
                <label>
                    <input type="checkbox" value="">
                    By checking this box, I agree to hand over all provided information and have HumanLink do a background check.
                </label>
            </div>
            <div class="form-group">
                <input class="btn btn-secondary" type="submit" value="Submit Background Check"/>
            </div>
        </form>
    </div>
</div>

</div>