<div class="settings-block">
   <h2>Current Verifications</h2> 
    <div class="settings-block-body">
        <div class="alert verification" ng-class="account.emailVerified ? 'alert-success' : 'alert-danger'" role="alert">
            <div ng-if="!account.emailVerified">
                <span  class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Not Verified:</span>
                <span>You have not verified your Email.</span>
            </div>

            <div ng-if="account.emailVerified">
                <span class="glyphicon glyphicon-ok"></span>
                <span>Your Email is verified!</span>
            </div>
        </div>
        <div class="alert verification" ng-class="account.phoneVerified ? 'alert-success' : 'alert-danger'" role="alert">
            <div ng-if="!account.phoneVerified">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Not Verified:</span>
                <span>You have not verified your mobile phone.</span>
            </div>

            <div ng-if="account.phoneVerified">
                <span class="glyphicon glyphicon-ok"></span>
                <span>Your mobile phone is verified!</span>
            </div>
        </div>
        <div class="alert verification" ng-class="account.backgroundVerified ? 'alert-success' : 'alert-danger'" role="alert">
            <div ng-if="!account.backgroundVerified">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Not Verified:</span>
                <span>You have not verified your background using our background check.</span>
            </div>

            <div ng-if="account.backgroundVerified">
                <span class="glyphicon glyphicon-ok"></span>
                <span>Your background is verified!</span>
            </div>
        </div>
    </div>
</div>

<div class="settings-block">
    <h2>Background Check</h2>
    <h4 class="background-check-title">Please fill out the form below to get started.</h4>
    <p class="background-check-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget orci ut lectus sollicitudin ultrices sed ut lorem. Donec eu tellus interdum, cursus neque nec, porttitor sapien. Praesent placerat rutrum eros, non placerat turpis. Fusce semper elit a facilisis cursus. Suspendisse hendrerit erat mi, non condimentum lectus aliquet nec. Nullam in dui sed libero porta pretium. Sed ultricies nulla id dolor hendrerit, at elementum augue sollicitudin. Suspendisse congue, felis ac molestie venenatis, ante lacus hendrerit ipsum, ut lacinia ante lectus non ex.</p>
    <div class="settings-block-body">
        <form class="background-check-form">
            <div class="form-block">
                <div class="form-group">
                    <label for="address">Address</label>
                    <br/>
                    <input id="address"class="form-control" placeholder="123 Example St." />
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <label for="city">City</label>
                    <br/>
                    <input id="city" class="form-control" placeholder="Fayetteville" />
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <br/>
                    <select id="dl-state" name="state" class="form-control" ng-model="chosenAddrState" ng-options="state for state in states">
                    </select>
                </div>
                <div class="form-group">
                    <label for="zip">Zipcode</label>
                    <br/>
                    <input id="zip" class="form-control" placeholder="11111" />
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <label for="dl-num">Drivers License #</label>
                    <br/>
                    <input id="dl-num" class="form-control" placeholder="000 000 000">
                </div>
                <div class="form-group">
                    <label for="dl-state">Drivers License State</label>
                    <br/>
                    <select id="dl-state" name="state" class="form-control" ng-model="chosenDLState" ng-options="state for state in states">
                    </select>
                </div>
                <div class="form-group">
                    <label for="dl-exp-date">Drivers License Expire Date</label>
                    <br/>
                    <input class="form-control" placeholder="01/01/1911">
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <br/>
                    <div id="dob" class="input-group">
                        <input class="form-control" placeholder="01/01/1911" />
                    </div>
                </div>
            </div>
            <div class="form-block">
                <div class="form-group">
                    <label for="ssn">Social Security #</label>
                    <br/>
                    <input class="form-control" placeholder="000-00-0000"/>
                </div>
            </div>
            <div class="checkbox form-inline">
                <label>
                    <input type="checkbox" value="">
                    By checking this box, I agree to hand over all provided information and have HumanLink do a background check.
                </label>
            </div>
            <input class="btn btn-default" type="submit" value="Submit Background Check"/>
        </form>
    </div>
</div>
