# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Django stuff
*.log
*.pot

# IDEs
.settings/
.idea/

#swap files
*.swp

# FE Build Directories
node_modules/
bower_components/
assets/stylesheets/build/
assets/stylesheets/less/bootstrap/
assets/js/build/

# Virtualenv
venv/

# Secret files
configs.py
