# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.log

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# IDEs
.settings/
.idea/

# FE Build Directories
node_modules/
bower_components/
assets/stylesheets/build/
assets/stylesheets/fonts/
assets/stylesheets/less/bootstrap/
assets/stylesheets/fonts/
assets/js/build/

# Virtualenv
venv/
lib/pip/

# Secret files
configs.py

# OS specific
.DS_Store
