<div class="about_us">
  <div class="well">


    <div class="section section-overview">
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-offset-4 col-sm-4">
            <img class="img-responsive" src="/images/landing/family.jpg"
                 alt="Susan's care team"/>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-overview">
      <div class="container">

        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <h2 class="title">Our Story</h2>

            <p class="lead">My name is Ven. I am the Founder and CEO of Humanlink. I live
              in Rogers, Arkansas. I started Humanlink in my garage about two years ago to
              solve a personal problem that I was facing.</p>

            <p class="lead">My Grandma, Savitri (seated in the picture above), lives in
              India and is 89 years old. She is bed ridden. My mom, Kalyani (green saree
              above), 68, is the primary caregiver for my grandmother. When I noticed a
              rapid and non-natural deterioration in my mom's health (heart problems,
              sleeplessness, weight problems, peripheral edema, etc.) as a result of the
              pressures of caregiving I decided to do something about it.</p>

            <p class="lead">Caregiving is very stressful for most aging families and the
              stress worsens when professional caregivers quit unexpectedly or don't show
              up. Our customer development in Arkansas included talking to patient
              families, staffing agencies, caregivers, nursing educators, physicians and
              medical establishments. We heard consistently of the need for caregiver team
              coordination via a tool that would alleviate staffing problems, particularly
              challenges with last minute caregiver no-shows.</p>

            <h2 class="title">How can Humanlink help?</h2>

            <p class="lead">Humanlink is a desktop and mobile messaging app to solve the
              caregiver no-show problem. In-home staffing schedulers at small and medium
              for-profit and non-profit enterprises (like churches, area agencies on
              aging, veterans administration, etc.) who coordinate care for the elderly
              face this problem. Aside from these enterprises, families who wish to
              coordinate their own care and staffing for elders also use our app to
              overcome the no-show problem.</p>

            <p class="lead">On Humanlink's platform, families and agencies can create
              private
              messaging
              channels for each of their patients. You can list the weekly care needs of
              the patient in the channel. Families or agencies can invite their existing
              vetted-and-verified caregivers to join their team on our platform.</p>

            <p class="lead">You can coordinate care by adding caregivers to each private
              patient
              channel based on the caregivers certifications, geographic proximity and
              availability status. In case of a no-show,you can broadcast a message to
              your team instead of going through a rolodex and making
              phone calls or sending out distress emails. In case no caregiver in your
              rolodex is able to deal with the no-show, Humanlink's discovery feature
              enables the scheduler to invite verified and vetted independent caregivers
              from our database to their team.</p>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>
