<div class="row text-center">
  <h1>Welcome Caregivers.</h1>
</div>

<div class="section section-cg-benefits">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-4">
        <i class="material-icons">schedule</i>

        <h3>Get started in seconds</h3>

        <p>Create your care team or care channels in seconds and start inviting patient
          family members or by inviting other professional care providers.</p>
      </div>
      <div class="col-sm-4">
        <i class="material-icons">attach_money</i>

        <h3>It's Free</h3>

        <p>Humanlink is free to use. Create as many care channels as you want and invite
          as many family members or care professionals as you want.</p>
      </div>
      <div class="col-sm-4">
        <i class="material-icons">folder_shared</i>

        <h3>Care Specific Notes</h3>

        <p>By adding general or care specific notes to a messaging channel, you can
          improve continuity of care.</p>
      </div>
    </div>

  </div>
</div>

<div class="section section-cg-benefits">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-4">
        <i class="material-icons">event_available</i>

        <h3>Set your own schedule</h3>

        <p>You can set your own schedule and live-in/live-out status.</p>
      </div>
      <div class="col-sm-4">
        <i class="material-icons">local_atm</i>

        <h3>Set your own Pay</h3>

        <p>You can negotiate your pay directly with the patient families.</p>
      </div>
      <div class="col-sm-4">
        <i class="material-icons">directions_car</i>

        <h3>Manage Your Commute</h3>

        <p>You can set how far you are willing to travel to provide care and
          our algorithms will match you appropriately.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-4 col-sm-4">
    <a class="btn btn-block btn-primary" href="/home#/interest">
      Request Invite <i class="fa fa-angle-right"></i>
    </a>
  </div>
</div>
