<div class="caregivers">

  <!-- About Section -  general benefits of Humanlink for the patient families-->
  <section class="horizontal" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Care providers</h2>
          <hr class="star-heart">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
          <p class="lead">Humanlink is a mobile and desktop app that enables compassionate
            groups in the caring process for individuals who are terminally ill or
            chronically ill or disabled.</p>
        </div>
        <div class="col-lg-4">
          <p class="lead">Humanlink enables care providers to better manage their time
            and commute. Our mobile and desktop app will help you save time and money.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <button ng-click="SignUp()" class="btn btn-lg btn-outline-type">
            <i class="fa fa-envelope"></i> Sign up
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Messaging Section -  benefits of using messaging patient families -->
  <section class="vertical">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-4">
          <img class="img-responsive" src="/images/landing/humanlink_solutions.png"
               alt="Susan's care team"/>
        </div>

        <div class="col-md-offset-1 col-md-4">
          <div class="row">
            <h2>Desktop and Mobile</h2>

            <p class="lead">Phone calls and emails get in the way of a productive day. The
              Humanlink platform enables care professionals to reclaim time.</p>
          </div>

          <div class="row">
            <a type="button" ng-click="SignUp()"
               class="btn btn-lg btn-outline-type-inverse">
              <span class="glyphicon glyphicon-envelope"></span> Sign Up
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="horizontal enlarged-icons">
    <div class="container text-center">

      <div class="row">
        <div class="col-lg-offset-1 col-lg-4">
          <i class="material-icons">schedule</i>

          <h2>Easy</h2>

          <p class="lead">Create your care team or care channels in seconds and start
            inviting patient family members or by inviting other professional care
            providers.</p>
        </div>

        <div class="col-lg-offset-1 col-lg-4">
          <i class="material-icons">event_available</i>

          <h2>Schedules</h2>

          <p class="lead">You can set your own schedule, professional preferences and
            your bio. This makes it easy for care seekers to hire you.</p>
        </div>
      </div>

      <div class="row vmargin20">
        <div class="col-lg-offset-1 col-lg-4">
          <i class="material-icons">group_add</i>

          <h2>Negotiate</h2>

          <p class="lead">Humanlink provides the infrastructure to connect you with
            patient families. You can negotiate your pay directly with the patient
            families.</p>
        </div>

        <div class="col-lg-offset-1 col-lg-4">
          <i class="material-icons">directions_car</i>

          <h2>Commute</h2>

          <p class="lead">You can set how far you are willing to travel to provide
            care and our algorithms will match you appropriately.</p>
        </div>
      </div>

      <div class="row vmargin20">
        <div class="col-lg-offset-1 col-lg-4">
          <i class="material-icons">folder_shared</i>

          <h2>Share</h2>

          <p class="lead">By adding general or care specific notes to a messaging
            channel, you can improve continuity of care.</p>
        </div>
        <div class="col-lg-offset-1 col-lg-4">
          <i class="material-icons">portrait</i>

          <h2>Invite</h2>

          <p class="lead">Life happens. In case of an emergency you can recommend fellow
            care professionals to the patient families through the Humanlink platform.</p>
        </div>
      </div>

      <div class="row vmargin20">
        <div class="col-lg-offset-1 col-lg-4">
          <i class="material-icons">local_atm</i>

          <h2>Payments</h2>

          <p class="lead">Our platform makes it easy for you to receive your pay directly
            into your bank account.</p>
        </div>
        <div class="col-lg-offset-1 col-lg-4">
          <i class="material-icons">mail_outline</i>

          <h2>Tax reporting</h2>

          <p class="lead">Our platform will facilitate generating appropriate tax
            documents.</p>
        </div>
      </div>

    </div>
  </section>

  <!-- Messaging Section -  benefits of using messaging patient families -->
  <section class="vertical">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Highlights</h2>
          <hr class="spotlight">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
          <p class="lead">Every week we send a Newsletter to members of our platform.
            One of the most read and important parts of the Humanlink Newsletter is our
            <strong>Caregiver Highlights</strong> section.</p>
        </div>
        <div class="col-lg-4">
          <p class="lead">The <strong>Caregiver Highlights</strong> section is an
            opportunity for care professionals such as yourselves to tell your story. Our
            members love hearing your stories of compassionate caregiving.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <button ng-click="SignUp()" class="btn btn-lg btn-outline-type-inverse">
            <i class="fa fa-envelope"></i> Sign Up
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact panel -->
  <section class="horizontal" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Contact us</h2>
          <hr class="star-heart">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-offset-4 col-lg-4">
          <p class="lead text-center"><strong>support@humanlink.CO</strong></p>
        </div>
      </div>
    </div>
  </section>

</div>
