<div class="row text-center">
  <h1>Welcome care seekers.</h1>
</div>

<div class="section section-benefits">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-4">
        <i class="material-icons">message</i>

        <h3>No more Calls or Emails</h3>

        <p>Emails, phone calls and loose notes get in the way of good care
          coordination.</p>
      </div>
      <div class="col-sm-4">
        <i class="material-icons">event_note</i>

        <h3>Coordinate</h3>

        <p>Caring for someone with a serious and complex illness is hard. Our Desktop
          and Mobile messaging app can help.</p>
      </div>
      <div class="col-sm-4">
        <i class="material-icons">group</i>

        <h3>Collaborate</h3>

        <p>Create channels based on patient needs and share documents with team
          members.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-4 col-sm-4">
    <a type="button"
       class="btn btn-block btn-default btn-primary" href="/home#/interest">
      Request Invite
    </a>
  </div>
</div>
