<div class="careseekers">

  <div class="row">
    <div class="col-sm-offset-1 col-sm-3">
      <div class="section section-cs-benefits">
        <i class="material-icons">message</i>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-7">
      <h2>No more Calls or Emails.</h2>

      <p class="lead">Emails, phone calls and loose notes get in the way of good care
        coordination.</p>
      <a type="button" class="btn btn-default btn-secondary" href="/home#/interest">
        Request Invite
      </a>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-7">
      <h2>Coordinate care effectively.</h2>

      <p class="lead">Caring for someone with a serious and complex illness is hard. Our
        Desktop and Mobile messaging app can help.</p>
      <a type="button" class="btn btn-default btn-secondary" href="/home#/interest">
        Request Invite
      </a>
    </div>
    <div class="col-sm-offset-1 col-sm-3">
      <div class="section section-cs-benefits">
        <i class="material-icons">event_note</i>
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-3">
      <div class="section section-cs-benefits">
        <i class="material-icons">group</i>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-7">
      <h2>Collaborate.</h2>

      <p class="lead">Create channels based on patient needs and share documents with team
        members.</p>
      <a type="button" class="btn btn-default btn-secondary" href="/home#/interest">
        Request Invite
      </a>
    </div>
  </div>

</div>
