<div class="caregivers">

  <div class="row">
    <div class="col-sm-offset-1 col-sm-3">
      <div class="section section-cg-benefits">
        <i class="material-icons">schedule</i>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-7">
      <h2>Get started in seconds.</h2>

      <p class="lead">Create your care team or care channels in seconds and start inviting
        patient family members or by inviting other professional care providers.</p>
      <a type="button" class="btn btn-default btn-secondary" href="/home#/interest">
        Request Invite
      </a>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-7">
      <h2>Set your own schedule.</h2>

      <p class="lead">You can set your own schedule and live-in/live-out status.</p>
      <a type="button" class="btn btn-default btn-secondary" href="/home#/interest">
        Request Invite
      </a>
    </div>
    <div class="col-sm-offset-1 col-sm-3">
      <div class="section section-cg-benefits">
        <i class="material-icons">event_available</i>
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-3">
      <div class="section section-cg-benefits">
        <i class="material-icons">folder_shared</i>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-7">
      <h2>Care Specific Notes.</h2>

      <p class="lead">By adding general or care specific notes to a messaging channel, you
        can
        improve continuity of care.</p>
      <a type="button" class="btn btn-default btn-secondary" href="/home#/interest">
        Request Invite
      </a>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-7">
      <h2>Set your own Pay.</h2>

      <p class="lead">You can negotiate your pay directly with the patient families.</p>
      <a type="button" class="btn btn-default btn-secondary" href="/home#/interest">
        Request Invite
      </a>
    </div>
    <div class="col-sm-offset-1 col-sm-3">
      <div class="section section-cg-benefits">
        <i class="material-icons">local_atm</i>
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-3">
      <div class="section section-cg-benefits">
        <i class="material-icons">directions_car</i>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-7">
      <h2>Manage Your Commute.</h2>

      <p class="lead">You can set how far you are willing to travel to provide care and
        our algorithms will match you appropriately.</p>
      <a type="button" class="btn btn-default btn-secondary" href="/home#/interest">
        Request Invite
      </a>
    </div>
  </div>
</div>
