<div class="careseekers">
  <div class="row">
    <div class="section section-benefits section-cs-benefits">
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-4">
            <i class="material-icons">message</i>

            <h2>Loose notes</h2>

            <p class="lead">Notebooks, emails, phone calls and loose notes get in the way
              of good care coordination.</p>
          </div>
          <div class="col-sm-4">
            <i class="material-icons">event_note</i>

            <h2>Coordinate</h2>

            <p class="lead">Caring for someone with a serious and complex illness is hard.
              Our Desktop and Mobile messaging app can help.</p>
          </div>
          <div class="col-sm-4">
            <i class="material-icons">group</i>

            <h2>Collaborate</h2>

            <p class="lead">Create channels based on patient needs and share documents
              with
              team members.</p>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <div class="col-sm-offset-4 col-sm-4">
      <a type="button" class="btn btn-default btn-block btn-lg btn-secondary"
         href="/home#/interest">Request Invite</a>
    </div>
  </div>
</div>