<div class="landing">
  <!-- About Section -  general benefits of Humanlink for the patient families-->
  <section class="horizontal" id="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Humanlink</h2>
          <hr class="star-heart">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2 text-center">
          <button ui-sref="careseeker" class="btn btn-lg btn-block btn-outline">
            <strong>I am a care seeker</strong>
          </button>
        </div>
        <div class="col-md-4 text-center">
          <button ui-sref="caregiver" class="btn btn-lg  btn-block  btn-outline">
            <strong>I am a care provider</strong>
          </button>
        </div>
      </div>
    </div>
  </section>

</div>

