<div class="section section-invite" id="invite">
  <div class="container">
    <div class="row col-sm-offset-1 col-sm-10">
      <form class="form-horizontal" ng-submit="invite(contact)">

          <div class="form-group">
            <div class="col-sm-8">
              <input type="email" id="contact-email" class="form-control input-lg"
                     ng-model="contact.email" placeholder="Where do you need care?" required/>
            </div>
            <div class="col-sm-3">
              <button type="submit" class="btn btn-lg btn-primary btn-block">
                Search
              </button>
            </div>
          </div>

      </form>
    </div>
  </div>
</div>
