<div class="section section-press">
  <div class="container">

    <div class="row">
      <div class="col-sm-offset-3 col-sm-7">
        <div class="press press-techco"></div>
        <p>HumanLink seeks to raise industry standards with required background checks and
          ensuring caregivers have the highest standard of testing and certification. <a
                  href="http://tech.co/humanlink-connecting-quality-elder-care-anywhere-2015-02">Read
            more...</a></p>

        <p><Strong>Tech.Co</Strong></p>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-7">
        <div class="press press-cw"></div>
        <p>Human Link applies a LinkedIn strategy to find vetted in-home health providers
          that best meet a consumer's needs. <a
                  href="http://talkbusiness.net/2014/09/ark-challenge-2-0-teams-drum-up-investment-make-contacts/">Read
            more...</a>
        </p>

        <p><strong>The City Wire</strong></p>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-7">
        <div class="press press-cw"></div>
        <p>Human Link presents to investors and several dignitaries at Demo Day. <a
                href="http://www.arkansasbusiness.com/article/100650/ark">Read
          more...</a>
        </p>

        <p><strong>Arkansas Business</strong></p>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-7">
        <div class="press press-nwa"></div>
        <p>HumanLink presents at the Ark Challenge demo day. <a
                href="https://www.youtube.com/watch?v=G378IGDkgoI">See video...</a></p>

        <p><strong>Ark Challenge'14 Demo Day</strong></p>
      </div>
    </div>

  </div>
</div>