<div class="settings-profile">
  <div class="card">

    <div class="row">

      <div class="col-md-3 text-center">
        <img src="https://placehold.it/150x150">
        <p class="vmargin10"><button class="btn btn-primary" ng-click="connect()">Connect</button></p>
      </div>
      <div class="col-md-9">
        <h2>{{ aboutMe.team_name }}</h2>
        <h4>Mission: {{ aboutMe.mission }}</h4>
        <h4>Website: <a ng-href="{{ aboutMe.website }}">{{aboutMe.website}}</a></h4>
        <h4>Video: <a ng-href="{{ aboutMe.video }}">{{aboutMe.video}}</a></h4>
        <h4>Phone: ({{ aboutMe.main_phone.slice(0,3) }}
          ) {{ aboutMe.main_phone.slice(3,6) }}
          - {{ aboutMe.main_phone.slice(6,10) }}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-3 col-md-9">
        <hr>
        <h2>Typical care needs</h2>

        <div ng-show="aboutMe.meal_prep"><h4>Light meal prep</h4></div>
        <div ng-show="aboutMe.adaptive_utensil"><h4>Adaptive utensil training</h4></div>
        <div ng-show="aboutMe.housekeeping"><h4>Light housekeeping</h4></div>
        <div ng-show="aboutMe.cough_assist"><h4>Cough assist machine training</h4></div>
        <div ng-show="aboutMe.hoyer_lift"><h4>Hoyer lift training</h4></div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-3 col-md-9">
        <hr>
        <h2>Current care needs</h2>

        <h4>{{ aboutMe.caregiver_needs }}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-3 col-md-9">
        <hr>
        <h2>Current care team</h2>
      </div>
    </div>
  </div>
</div>