<div class="card">
  <div class="col-md-10 col-md-offset-1">
    <div class="accounts-profile">

      <div ng-show="profile.image">
        <div class="row">
          <div class="col-md-offset-4 col-md-4">
            <img class="img-responsive" src="/images/landing/family2015.png"
                 alt="Susan's care team"/>
          </div>
        </div>
      </div>
      <div ng-hide="profile.image">
        <div class="text-center">
          <img src="https://placehold.it/150x150">
        </div>
      </div>

      <hr>
      <h3 class="text-center">Hello, my name
        is <strong>{{profile.first_name}} {{profile.last_name}}</strong></h3>
      <h4 class="text-center">I live in {{profile.city}}, {{profile.county}} County </h4>

      <hr>
      <h3 class="text-center">Trust and Verification</h3>

      <div class="profile-trust">
        <div class="row">

          <div class="col-sm-4">
            <div ng-show="profile.phone_verified">
              <div class="col-sm-3">
                <h3>
                  <span class="glyphicon glyphicon-ok-sign"></span>
                </h3>
              </div>
              <div class="col-sm-9">
                <p class="lead">Phone</p>

                <p>Verified</p>
              </div>
            </div>

            <div ng-hide="profile.phone_verified">
              <div class="col-sm-3">
                <h3>
                  <span class="glyphicon glyphicon-remove-sign"></span>
                </h3>
              </div>
              <div class="col-sm-9">
                <p class="lead">Phone</p>

                <p>Not Verified</p>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div ng-show="profile.offlineID_verified">
              <div class="col-sm-3">
                <h3>
                  <span class="glyphicon glyphicon-ok-sign"></span>
                </h3>
              </div>
              <div class="col-sm-9">
                <p class="lead">Offline ID</p>

                <p>Verified</p>
              </div>
            </div>

            <div ng-hide="profile.offlineID_verified">
              <div class="col-sm-3">
                <h3>
                  <span class="glyphicon glyphicon-remove-sign"></span>
                </h3>
              </div>
              <div class="col-sm-9">
                <p class="lead">Offline ID</p>

                <p>Not Verified</p>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div ng-show="profile.background_verified">
              <div class="col-sm-3">
                <h3>
                  <span class="glyphicon glyphicon-ok-sign"></span>
                </h3>
              </div>
              <div class="col-sm-9">
                <p class="lead">Background</p>

                <p>Verified</p>
              </div>
            </div>

            <div ng-hide="profile.background_verified">
              <div class="col-sm-3">
                <h3>
                  <span class="glyphicon glyphicon-remove-sign"></span>
                </h3>
              </div>
              <div class="col-sm-9">
                <p class="lead">Background</p>

                <p>Not Verified</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div ng-show="profile.headline">
        <hr>
        <h4>Headline</h4>

        <p>{{profile.headline}}</p>
      </div>

      <div ng-show="profile.bio">
        <hr>
        <h4>Bio</h4>

        <p>{{profile.bio}}</p>
      </div>

      <div ng-show="profile.cna || profile.lpn || profile.iha || profile.ad || profile.hcs">
        <hr>
        <h4>Professional data</h4>

        <p>School: {{profile.school}}</p>

        <div ng-if="profile.cna"> CNA</div>
        <div ng-if="profile.lpn"> LPN</div>
        <div ng-if="profile.iha"> IHA</div>
        <div ng-if="profile.ad"> AD</div>
        <div ng-if="profile.hcs"> HCS</div>
      </div>

      <div ng-show="profile.live_in || profile.weekdays || profile.weekends || profile.cats || profile.dogs || profile.smoking">
        <hr>
        <h4>Professional preferences</h4>

        <div ng-if="profile.live_in"> I am open to live-in arrangements.</div>
        <div ng-if="profile.weekdays"> I can work on weekdays.</div>
        <div ng-if="profile.weekends"> I can work on weekends.</div>
        <div ng-if="profile.cats"> I am allergic to cats.</div>
        <div ng-if="profile.dogs"> I am allergic to dogs.</div>
        <div ng-if="profile.smoking"> I am allergic to smoking.</div>
      </div>

    </div>
  </div>
</div>