<div class="pricing">
  <div class="row">

    <div class="col-md-4">
      <div class="well">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h1>$9.99</h1>
            <h4>per month</h4>
            <hr>
            <h4>Basic plan</h4>
          </div>
        </div>

        <ul>
          <li><h5>Free for the first 60 days</h5></li>
          <li><h5>Create unlimited General and Care channels</h5></li>
          <li><h5>Invite up to 5 family/volunteer members to your channels</h5></li>
          <li>
            <h5>Invite up to 5 professional care providers per month to your care
              channels</h5>
          </li>
          <li><h5>Archive up to 10,000 messages</h5></li>
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="highlight">
        <div class="well">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <h1>$29.99</h1>
              <h4>per month</h4>
              <hr>
              <h4>Standard plan</h4>
            </div>
          </div>

          <ul>
            <li><h5>Our most popular plan</h5></li>
            <li><h5>All the benefits of the <strong>Basic</strong> plan</h5></li>
            <li><h5>Invite up to 20 family/volunteer members to your channels</h5></li>
            <li>
              <h5>Invite up to 20 professional care providers per month to your care
                channels</h5>
            </li>
            <li><h5>Archive up to 100,000 messages</h5></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="well">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h1>$49.99</h1>
            <h4>per month</h4>
            <hr>
            <h4>Premium plan</h4>
          </div>
        </div>

        <ul>
          <li><h5>All the benefits of the <strong>Standard</strong> plan</h5></li>
          <li><h5>Unlimited invites to professional care providers</h5></li>
          <li><h5>Other cool stuff</h5></li>
        </ul>
      </div>
    </div>

  </div>
</div>
