<div class="accounts-profile">

  <div class="row text-center">
    <h2>Hello, My name is {{profile.first}} {{profile.last}}</h2>
    <h5>I live in {{profile.city}} {{profile.state}}</h5>
  </div>

  <hr class="profile-divider">
  <h4 class="text-center">Headline</h4>

  <div class="row text-center">
    <p>{{profile.headline}}</p>
  </div>


  <hr class="profile-divider">
  <h4 class="text-center">Bio</h4>

  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <p>{{profile.bio}}</p>
    </div>
  </div>


  <hr class="profile-divider">
  <h4 class="text-center">Trust and Verification</h4>

  <div class="profile-trust">
    <div class="row">
      <div class="col-sm-4">
        <div class="col-sm-3"><span class="glyphicon glyphicon-ok-sign"></span></div>
        <div class="col-sm-9">
          <p>Mobile number</p>

          <div ng-show="profile.phone_number_verified">
            <small>Verified</small>
          </div>
          <div ng-hide="profile.phone_number_verified">
            <small>Not Verified</small>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="col-sm-3"><span class="glyphicon glyphicon-ok-sign"></span></div>
        <div class="col-sm-9">
          <p>Offline ID</p>
          <div ng-show="profile.offline_id_verified">
            <small>Verified</small>
          </div>
          <div ng-hide="profile.offline_id_verified">
            <small>Not Verified</small>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="col-sm-3"><span class="glyphicon glyphicon-ok-sign"></span></div>
        <div class="col-sm-9">
          <p>Background verified</p>
          <div ng-show="profile.background_verified">
            <small>Verified</small>
          </div>
          <div ng-hide="profile.background_verified">
            <small>Not Verified</small>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>