<div class="search">

  <div class="container">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <div class="row">
          <div class="col-lg-offset-2 col-lg-6">
            <input type="text" id="search" name="search" class="form-control input-lg"
                   ng-model="searchModel.search_string"
                   placeholder="Where do you need care? Rogers, Bentonville, etc."/>
          </div>
          <div class="col-lg-2">
            <button ng-click="find(searchModel)"
                    class="btn btn-lg btn-block btn-outline-primary">Search
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="container">
    <div ng-show="searchCaregiverResults">
      <div ng-repeat="(key, prop) in searchCaregiverResults | orderBy: prop.phone_number_primary">
        <div class="row">

          <div class="col-md-offset-3 col-md-2">
            <a href
               ui-sref="previewProfile({caregiver_key: prop.phone_number_primary })">
              <img class="media-object" src="https://placehold.it/75x75">
            </a>
          </div>

          <div class="col-md-6">
            <div class="row">
              <h4>
                <i class="material-icons">contact_phone</i>
                <strong>{{prop.first_name}} {{prop.last_name}} </strong>
              </h4>

              <div class="row">
                <div class="col-md-3">
                  <i class="material-icons">phone</i> {{ prop.phone_number }}
                </div>
                <div class="col-md-3">
                  <i class="material-icons">add_location</i> {{ prop.city }}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div ng-hide="searchCaregiverResults">
    <p class="lead">No care professionals currently available.</p>
  </div>

</div>
