<div>
  <h2>Terms of Service</h2>

  <p>Thank you for using Humanlink , a service provided by Humanlink Inc., a(n)
    corporation
    (“
    ,” “we,” “our” or “us”). These Terms of Use (the “Terms”) explain the agreement you
    make
    with us when you access and use our mobile applications, websites, software and other
    services (collectively, the “Services”).

    PLEASE REVIEW THE TERMS CAREFULLY. BY USING THE SERVICES YOU AGREE TO BE BOUND BY
    EVERYTHING IN THE TERMS. IF YOU DO NOT AGREE, YOU SHOULD STOP USING THE SERVICES
    IMMEDIATELY.
  </p>

  <p><strong>1. Summary of Services and Basic Terms </strong>

    These Terms apply to all websites, software, mobile applications, tools and resources
    developed, offered or operated by Humanlink Inc.. The Terms apply to you and all other
    users of the Services (“you” and “Users”).

    As a general policy, you are exclusively responsible and liable for your use of the
    Services and for any consequence of your use of the Services. Any exceptions to this
    policy will be clearly explained in these Terms. If you do not see a specific
    exception
    listed in these Terms, then it is not an exception, and you will be solely
    responsible.

    We collect, store and use certain electronic information about you when you use the
    Services in the ways we explain below and in the Privacy Policy. We have attempted to
    provide clear explanations of our information policies so you can make meaningful
    decisions about whether to use the Services.

    Humanlink Inc. respects and values the privacy of your information, and we take
    voluntary
    steps to protect it as best we can. That said, we cannot guarantee the complete
    security
    and privacy of Users. More information about the privacy and security of your
    information is available below and in the Privacy Policy.

    We may change the Services from time to time without notice. We may stop providing the
    Services, or restrict use of the Services, without notice and for any reason.

    We rely on third-party providers for certain parts of the Services. Because of this
    and
    for other reasons, the Services may be unavailable, interrupted or terminated from
    time
    to time for many reasons (including routine maintenance).

    By using the Services, you agree that Humanlink Inc. will not be responsible or liable
    to
    you or any third party for any consequence, loss or damage arising (directly or
    indirectly) from or relating to any of the circumstances described in this section or
    the Terms generally, unless specifically described otherwise in these Terms.
  </p>

  <p><strong>2. Personal Information; Privacy; Security</strong>

    By using the Services, you acknowledge and agree that Humanlink Inc. collects, stores
    and
    uses certain electronic information about you. To understand specifically what
    information we collect, and how we store and use that information, please carefully
    read
    these Terms and review our Privacy Policy for more information. If you do not agree to
    our information policies, you cannot use the Services.

    We only use information about our Users to improve the Services – meaning, we are able
    to respond better to your requests, provide better updates to the Services and
    communicate better with you.

    We only collect personal information that you choose to provide through your Account
    on
    the Services. If you do not want us to have particular information about you, then do
    not publish that information on your Account or post that information on the Services.
    We do not collect or scrape additional personal information from your computer,
    contacts, email or other personal sources.

    Humanlink Inc. uses third-party providers to process payments and fees on the
    Services.
    You acknowledge and agree that you will also be subject to the third-party terms and
    conditions associated with those third-party services if you choose to use those
    features. Those terms and conditions may be materially different than our policies,
    especially with regard to information privacy and security. You specifically
    acknowledge
    that you understand that the third-party terms and conditions will apply to your
    financial information collected to enable and process the required payments on the
    Services.

    We also collect and use generalized, anonymous information about all Users. This
    information cannot be used to identify or isolate your personal information.

    We do not share personal information about Users with third parties, unless the third
    party relationship is for the limited purpose of improving the Services provided to
    you
    and the particular third party expressly agrees to honor and follow our information,
    privacy and security policies as set out in these Terms and the Privacy Policy. We do
    not sell or share your personal information for unrestricted third party use.

    Humanlink Inc. cares about the security of User information. Information we collect
    and
    store is password protected, both at your specific Account level and at our
    administrator level. We may implement additional security features in the future.
    However, Humanlink Inc. cannot guarantee total security of your Account and
    information.
    By using the Services, you agree that you provide your personal information and
    content
    at your own risk. You are solely responsible for maintaining the security of your
    Account and password.

    You will automatically receive various messages from us, and you may receive
    communications from our partners (including advertising and marketing messages). You
    may
    change or opt out of certain communications through your Account Settings page.
    However,
    in some instances, we may need to provide you with service announcements and
    administrative messages. These particular communications are a necessary part of the
    Services. You cannot opt-out from receiving these communications.

    Humanlink Inc. values the importance of protecting children’s privacy. To protect that
    privacy, we take the following steps: (i) use of the Services is not allowed for
    persons
    under the age of 13; and (ii) use of the Services by Users between the ages of 13 and
    18
    is subject to the eligibility requirements set out in Section 3 below.

    By using the Services, you agree that Humanlink Inc. will not be responsible or liable
    to
    you or any third party for any consequence, loss or damage arising (directly or
    indirectly) from or relating to any of the circumstances described in this section.
  </p>

  <p><strong>3. Eligibility and Your Obligations as a User </strong>

    You must be able to form a binding contract to use the Services. By using the
    Services,
    you represent that you are able to do so. If you are under 18 years old, your parent
    or
    guardian must enter into this Agreement on your behalf. That parent or guardian will
    be
    responsible for your use of the Services, including financial responsibility. Persons
    under 13 years old are expressly prohibited from using the Services. Any attempt by a
    person under the age of 13 to use the Services will be automatically void. If [INSERT
    NAME] receives credible notice that a User is under 13 years old, we will
    automatically
    remove the account associated with the User and delete all information about and from
    that User from the Services.

    You must create an account with Humanlink Inc. (your “Account”) to receive the full
    benefit of the Services. You agree to provide truthful and complete information for
    your
    Account. If you create an Account as or on behalf of someone other than yourself, you
    represent that you are authorized to act for and bind that other person.

    To the extent you are allowed to register for the Services by using existing
    third-party
    accounts or profiles (ex: Facebook Connect), you acknowledge that you will also be
    subject to the third-party terms and conditions associated with those third-party
    services if you choose to use those features. Those terms and conditions may be
    materially different than our policies, especially with regard to information privacy
    and security.

    Access to and use of password protected and secure areas of the Services is restricted
    to authorized Users. Unauthorized persons who access or attempt to access these parts
    of
    the Services will be prosecuted.

    You are solely responsible and liable for all activity that occurs on and through your
    Account, or in connection with your Account. You are solely responsible and liable for
    safeguarding the security and accuracy of your Account and notifying Humanlink Inc. of
    any unauthorized use of your Account.

    There are certain things you cannot do on the Services:

    You will not provide false information; create an account for anyone other than
    yourself
    without that person’s permission; use a name of another person with the intent to
    impersonate or disparage that person; use a name that is subject to rights of a third
    party without the proper authorization; or use a name or post any content anywhere on
    the Services that is offensive, vulgar, obscene or otherwise unlawful.

    You will not provide services to or otherwise have any interactions with any other
    User
    that are injurious, threatening, violent, abusive, harassing, defamatory, invasive of
    privacy, tortious, obscene, vulgar or profane to the User. You will not provide any
    services or conduct any action on or through the Services that are (i) in furtherance
    of
    illegal activities, (ii) false, fraudulent or deceptive; or (iii) otherwise unlawful.

    You will not reverse engineer, reverse compile, reduce to human readable form or
    derive
    (or attempt to derive) the source code of any software associated with the Services.
    In
    these Terms, “reverse engineer” will mean the examination or analysis of the Services
    to
    determine the source code, structure, organization, internal design, algorithms or
    encryption devices of the underlying technology of the Services.

    You will not access or tamper with non-public areas of the Services, including, but
    not
    limited to, our computer and network systems; breach or circumvent any security or
    authentication measures; scrape the Services without the prior consent of Humanlink
    Inc.;
    use the Services to send altered, deceptive or false information; or interfere with or
    disrupt (or attempt to do so) any User, host or network, including, but not limited
    to,
    sending a virus, overloading, flooding, spamming, or scripting the Services.

    You will not create or help create any product or service that is derivative or
    competitive with the Services.

    Humanlink Inc. reserves the right to charge fees for use of the Services. Humanlink
    Inc.
    will post current pricing information and payment policies on the Services at [embed
    link]. All payments to Humanlink Inc. through the Services will be non-refundable.

    We may offer special promotional offers through the Services that may or may not apply
    to you or your Account. By using the Services, you agree to be bound by the terms of
    the
    special offers.

    The Services may not be available in all geographic areas. The Services are available
    only to Users with internet and network connections capable of supporting the
    Services.
    You are solely responsible for obtaining internet and network connections capable of
    supporting the Services.

    Humanlink Inc. may, in its sole discretion and for any reason, refuse to offer the
    Services to any person or entity, or change the eligibility criteria for the Services
    at
    any time. You may voluntarily cancel your Account at any time through your Settings
    page.

    Failure to comply with any of the terms and obligations set out in this Section 3 will
    be a breach of these Terms and may result in termination of your Account and
    prosecution
    for damages. You agree that Humanlink Inc. will not be liable, and you will indemnify,
    hold harmless and reimburse Humanlink Inc. for any consequence, loss, damage or
    expense
    (direct or indirect) (including attorneys’ fees and settlement amounts) arising from
    or
    relating to your failure to comply with any of the terms and obligations set out
    above.
  </p>

  <p><strong>4. Information and Content on the Services</strong>

    You will have exclusive responsibility and liability for all information and content
    published on or through your Account, whether publicly posted or privately
    transmitted.
    Humanlink Inc. is not responsible or liable for any User information or content, or
    any
    consequence, loss or damage (direct or indirect) caused by or related to User
    information or content.

    Humanlink Inc. does not represent or guarantee completeness, truthfulness, accuracy,
    appropriateness or reliability for any content or information posted on the Services,
    or
    endorse any opinion expressed on the Services. If you choose to use or rely on
    information or content posted on or obtained through the Services (whether published
    by
    Users or Humanlink Inc.), your use or reliance is at your own risk.

    By using the Services you may be exposed to content that is offensive, harmful,
    inaccurate or otherwise inappropriate, or in some cases, misleading or otherwise
    deceptive. Humanlink Inc. does not monitor content provided by Users and will not
    censor
    or remove User content, except in the limited circumstances described in these Terms.
    You agree that Humanlink Inc. will not be responsible or liable for any content on or
    made available through the Services under any circumstance.

    When you provide information on the Services as a User, you represent and warrant that
    the information you post or make available:
    Does not include personal identification, financial, or confidential information about
    yourself that you expect to be treated differently than as described in these Terms
    and
    the Privacy Policy;
    Is not counterfeit or stolen;
    Does not infringe or violate the intellectual property or proprietary rights of
    [INSERT
    NAME] or any third party;
    Is not for any unlawful purpose or in furtherance of illegal activities (international
    users agree to comply with all local laws regarding online conduct and acceptable
    content);
    Does not violate any contractual obligation;
    Is not false, fraudulent or deceptive;
    Is not threatening, violent, abusive, harassing, defamatory, invasive of another’s
    privacy, tortious, obscene, vulgar, pornographic, profane, contains or depicts nudity
    or
    sexual activity; discriminatory, or otherwise inappropriate;
    Is not unsolicited advertising, junk mailing, or spamming;
    Does not contain software viruses, malware/phishing or another other computer
    mechanism
    designed to disrupt, damage, monitor, or interfere with the independent functioning of
    Humanlink Inc. or third party equipment, software, or systems;
    Does not impersonate any person without such person’s prior consent;
    Does not include any personal identification, financial, or confidential information
    of
    any other person or entity without prior consent;
    Does not solicit Users or guests to use other on- or off-line services that are
    competitive with Humanlink Inc.;
    Does not attempt by any method to determine source code or underlying algorithms of
    any
    part of the Services;
    Does not falsely imply affiliation with or sponsorship by Humanlink Inc. without the
    prior written consent of Humanlink Inc.; or
    Does not breach any of the terms or conditions of these Terms or the Privacy Policy.
    Humanlink Inc. reserves the exclusive right to determine whether information you post
    or
    make available on the Services falls within any of the prohibited categories listed
    above. We may immediately terminate or suspend your Account without notice to you in
    the
    event that, in our judgment, you violate this section. Accounts created to replace
    suspended accounts will be permanently suspended. Accounts engaging in any of these
    behaviors may be investigated for abuse.

    The Services may include advertisements and other marketing messages from Humanlink
    Inc.
    and its partners. The form and frequency of advertising and marketing messages on the
    Services may change without notice to you. By using the Services you agree that
    [INSERT
    NAME] and its third-party partners may advertise on the Services, including, but not
    limited, targeted advertisements related to content posted by you or others.

    Failure to comply with any of the terms and obligations set out in this Section 4 will
    be a breach of these Terms and may result in termination of your Account and
    prosecution
    for damages. You agree that Humanlink Inc. will not be liable, and you will indemnify,
    hold harmless and reimburse Humanlink Inc. for any consequence, loss, damage or
    expense
    (direct or indirect) (including attorneys’ fees and settlement amounts) arising from
    or
    relating to your failure to comply with any of the terms and obligations set out
    above.
  </p>

  <p><strong>5. Our License to Your Account and Content</strong>

    When you use the Services, you keep your rights to information you submit, post or
    make
    available on or through the Services. However, by using the Services, you grant
    [INSERT
    NAME] an automatic, worldwide, non-exclusive, royalty-free, perpetual license to use,
    copy, reproduce, adapt, modify, publish, display, transfer, sublicense and distribute
    your information for any purpose and in any and all media or distribution methods (now
    known or later developed).

    You agree that this license includes the right for Humanlink Inc. to promote and
    improve
    the Services by any action, including promotional or commercial uses, and to make your
    information available to certain third parties that partner with Humanlink Inc.. We
    may
    modify or adapt your information in order to transmit, display or distribute it in
    various media, networks, forms and devices.

    By using the Services you agree that you will not be entitled to any compensation from
    Humanlink Inc. (or other companies, organizations or individuals who partner with
    [INSERT
    NAME]) for your information or for use of your information, including promotional or
    commercial uses.

    You understand and agree that since your information may be distributed or published
    by
    Humanlink Inc. and our partners, you may be subject to liability if you do not have
    the
    legal right to use, submit or publish the information on the Services. In that event,
    you will be exclusively responsible for your use of the Services, for all information
    and content you submit and publish, and for all consequences arising from both,
    including the use of your information by other Users and our third party partners.
    Humanlink Inc. will not be responsible or liable for any use or consequence of your
    information (whether by Humanlink Inc., a third party partner or other User). By using
    the Services, you represent and warrant that you have the necessary rights and
    authority
    to use and publish all information and content posted or made available by you on and
    through the Services, and to grant the licenses given to Humanlink Inc. in this
    Agreement.

    Failure to comply with any of the terms and obligations set out in this Section 5 will
    be a breach of these Terms and may result in termination of your Account and
    prosecution
    for damages. You agree that Humanlink Inc. will not be liable, and you will indemnify,
    hold harmless and reimburse Humanlink Inc. for any consequence, loss, damage or
    expense
    (direct or indirect) (including attorneys’ fees and settlement amounts) arising from
    or
    relating to your failure to comply with any of the terms and obligations set out
    above.
  </p>

  <p><strong>6. Our Rights as Humanlink Inc.</strong>

    Humanlink Inc. exclusively and perpetually owns and holds all right, title and
    interest
    in and to the Services and all information and content published by Humanlink Inc. on
    the
    Services. The Services are currently (or may be in the future) protected by copyright,
    trademark, patents, trade secrets and other laws of both the United States and foreign
    countries. Other than as expressly provided in these Terms, you do not have any right
    to
    use the Humanlink Inc. name or any of the Humanlink Inc. trademarks, logos, domain
    names,
    distinctive brand features or other intellectual property or content in any way.

    We reserve the right to terminate, suspend or refuse to provide the Services, to
    suspend
    or terminate Users, and to reclaim usernames – all at any time and for any reason in
    our
    sole discretion, and without liability to you.

    We will seek to protect your information from disclosure in most instances as a
    general
    policy. However, we reserve the right to access, read, preserve and disclose any User
    information that we reasonably believe is necessary to (i) satisfy any applicable law,
    regulation, legal process or governmental request; (ii) enforce these Terms, including
    investigation of potential violations; (iii) detect, prevent or otherwise address
    fraud,
    security or technical issues, (iv) respond to User support requests; and (v) protect
    the
    rights, property or safety of Humanlink Inc., our Users and the public.

    Feedback, comments and suggestions you provide about Humanlink Inc. or the Services is
    entirely voluntary. We are free to use all feedback, comments and suggestions without
    any obligation or compensation to you.
  </p>

  <p><strong>7. Your License to Use the Services</strong>

    When you use the Services, Humanlink Inc. gives you a limited, personal, revocable,
    non-transferable and non-exclusive license to use the Services. This limited license
    is
    only so you may use and enjoy the benefit of the Services as provided by Humanlink
    Inc.
    as allowed under these Terms. This license is revocable at will and may be terminated
    by
    Humanlink Inc. without notice to you.
  </p>

  <p><Strong>8. Intellectual Property Disputes</Strong>

    Humanlink Inc. reserves the right in its sole discretion to remove accounts and
    content
    that are alleged to infringe the intellectual property of others without prior notice
    or
    liability to Users. In appropriate circumstances, we may also terminate a User for
    content violations.

    Humanlink Inc. will respond to notices of alleged infringement that comply with
    applicable law, including the Digital Millennium Copyright Act of 1998
    (http://www.copyright.gov/legislation/dmca.pdf). If you believe your intellectual
    property has been used or copied in an infringing way, please provide us with the
    following information: (i) a physical or electronic signature of the copyright owner
    or
    a person authorized to act on their behalf; (ii) identification of the material
    claimed
    to have been infringed; (iii) identification of the material that is claimed to be
    infringing, and information reasonably sufficient to permit us to locate the material;
    (iv) your contact information, including your address, telephone number, and an email
    address; (v) a statement by you that you have a good faith belief that use of the
    material in the manner complained of is not authorized by the intellectual property
    owner, its agent, or the law; and (vi) a statement that the information in the
    notification is accurate, and, under penalty of perjury, that you are authorized to
    act
    on behalf of the intellectual property owner.

    You must provide this notice to our agent for notice of alleged intellectual property
    infringement:

    Humanlink Inc., Inc.
    Attn: Intellectual Property Dispute
    PO Box 3100-72756, Rogers AR 72756
    ven@humanlink.co

    On receipt of proper notice, we will take the actions that we consider appropriate in
    our sole discretion, including removal of the challenged material from the Services
    and
    termination of user accounts.
  </p>

  <p><strong>9. Termination</strong>

    These Terms will continue to apply until terminated by either you or Humanlink Inc..

    You may end your legal agreement with Humanlink Inc. at any time for any reason by
    deactivating your Account(s) and discontinuing your use of the Services. You do not
    need
    to notify Humanlink Inc. when you stop using the Services. If you stop using the
    Services
    without deactivating your Accounts, Humanlink Inc. may eventually deactivate your
    Account(s) for prolonged inactivity.

    Humanlink Inc. may suspend or terminate your accounts (or quit providing you with all
    or
    part of the Services) at any time for any reason, including, but not limited to, our
    belief that: (i) you have violated these Terms or other published policies, (ii) you
    create risk of or possible legal exposure for Humanlink Inc.; or (iii) the Services
    are
    no longer commercially viable.

    In all such cases, your license to use the Services will automatically be canceled,
    except that the following sections will continue to apply: 4, 5, 6, 8, 9, 10 and 11.
  </p>

  <p><strong>10. Disclaimers and Limitations of Liability</strong>

    PLEASE READ THIS SECTION CAREFULLY. This section limits the liability of Humanlink
    Inc.
    and its parents, subsidiaries, affiliates, related companies, officers, directors,
    employees, agents, representatives, partners and licensors (collectively, the “[INSERT
    NAME] Entities”). BY USING THE SERVICES YOU EXPRESSLY AGREE TO BE BOUND BY THIS
    SECTION.
    Each subsection below applies to the maximum extent permitted under applicable law.
    Some
    jurisdictions do not allow the disclaimer of certain warranties or the limitation of
    liability in contracts, and, as a result, the contents of these sections may not apply
    to you.

    A. The Services are Available "AS-IS"

    Humanlink Inc. has no fiduciary or special relationship with you. Your access to and
    use
    of the Services are at your own risk. You understand and agree that the Services are
    provided to you on an "AS IS" and "AS AVAILABLE" basis.

    Without limiting the foregoing, to the maximum extent permitted under applicable law,
    THE Humanlink Inc. ENTITIES DISCLAIM ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, OF
    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, TITLE, SECURITY,
    ACCURACY AND ANY WARRANTIES IMPLIED BY PERFORMANCE OR USE. Humanlink Inc. DOES NOT
    WARRANT, GUARANTEE OR ASSUME RESPONSIBILITY FOR (i) ANY PRODUCT OR SERVICE ADVERTISED
    OR
    OFFERED BY A THIRD PARTY OR USER THROUGH THE SERVICES OR ANY HYPERLINKED WEBSITE OR
    SERVICE OR (ii) ANY CONTENT SUBMITTED OR PUBLISHED BY A THIRD PARTY OR USER THROUGH
    THE
    SERVICES OR ANY HYPERLINKED WEBSITE OR SERVICE.

    The Humanlink Inc. Entities make no warranty and disclaim all responsibility and
    liability for: (i) the completeness, accuracy, availability, timeliness, security or
    reliability of the Services; (ii) any harm to your computer system, loss of data, or
    other harm that results from your access to or use of the Services; (iii) the deletion
    of, or the failure to store or to transmit, any information and other communications
    maintained by the Services; (iv) whether the Services meet your requirements or are
    available on an uninterrupted, secure or error-free basis; and (v) any third-party
    claims, consequence, loss or damage (direct or indirect) arising in any way out of or
    related to use of the Services or these Terms. No advice or information, whether oral
    or
    written, obtained from the Humanlink Inc. Entities or through the Services, will
    create
    any warranty not expressly made in these Terms.

    IT IS THE EXCLUSIVE RESPONSIBILITY OF EACH USER TO EVALUATE THE ACCURACY,
    COMPLETENESS,
    DEPENDABILITY, USEFULNESS AND MARKETABILITY OF ANY PRODUCT, SERVICE, CONTENT OR
    INFORMATION AVAILABLE THROUGH THE SERVICES OR OBTAINED FROM ANOTHER USER, THIRD PARTY
    OR
    LINKED SITE.

    B. Links

    The Services may contain links to third-party websites or resources. You acknowledge
    and
    agree that the Humanlink Inc. Entities are not responsible or liable for: (i) the
    availability or accuracy of such websites or resources; (ii) the content, products or
    services on or available from such websites or resources; and (iii) any consequence,
    loss or damage (direct or indirect) arising from such websites or resources. Links to
    such websites or resources do not imply endorsement by the Humanlink Inc. Entities of
    the
    websites, resources or the content, products, or services available from the websites
    or
    resources. You acknowledge sole responsibility for and assume all risk of your use of
    any third-party website or resource.

    C. Third-Party Providers and Partners

    Humanlink Inc. relies on third-party providers and partners for parts of the Services.
    You acknowledge and agree that the Humanlink Inc. Entities are not responsible or
    liable
    for: (i) the availability, functionality or accuracy of the parts of the Services
    provided by third-party providers and partners; (ii) any interruption, delay,
    suspension
    or termination of the Services as a result of third-party providers and partners; and
    (iii) any consequence, loss or damage (direct or indirect) arising from third-party
    providers and partners. On written request by a User, Humanlink Inc. will provide
    (within
    a reasonable time) a list of the non-confidential third-party providers and partners
    that are implemented in the Services.

    D. Limitation of Liability

    TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE Humanlink Inc. ENTITIES WILL
    NOT
    BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR
    ANY LOSS OF PROFITS OR REVENUE, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS
    OF
    DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR
    USE OF (OR INABILITY TO ACCESS OR USE) THE SERVICES; (ii) ANY CONDUCT OR CONTENT OF
    ANY
    USER OR THIRD PARTY ON OR THROUGH THE SERVICES, INCLUDING WITHOUT LIMITATION, PERSONAL
    INJURY, PROPERTY DAMAGE AND DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR
    THIRD PARTIES; (iii) ANY SERVICES PURCHASED OR ACCEPTED ON OR THROUGH, OR CONTENT
    OBTAINED FROM, THE SERVICES; OR (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR
    TRANSMISSIONS OR CONTENT. IN NO EVENT WILL THE AGGREGATE LIABILITY OF THE Humanlink
    Inc.
    ENTITIES EXCEED THE GREATER OF ONE HUNDRED U.S. DOLLARS (U.S. $100.00) OR THE AMOUNT
    YOU
    PAID Humanlink Inc., IF ANY, FOR THE SPECIFIC SERVICES GIVING RISE TO THE CLAIM.

    THE LIMITATIONS OF THIS SUBSECTION WILL APPLY TO ALL THEORIES OF LIABILITY, WHETHER
    BASED ON PERSONAL INJURY, PROPERTY DAMAGE, WARRANTY, CONTRACT, STATUTE, TORT
    (INCLUDING
    NEGLIGENCE) OR OTHERWISE, WHETHER OR NOT THE Humanlink Inc. ENTITIES HAVE BEEN
    INFORMED
    OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF A REMEDY SET OUT IN THIS AGREEMENT
    IS
    FOUND TO HAVE FAILED ITS ESSENTIAL PURPOSE.
  </p>

  <p><strong>11. Indemnification</strong>

    By using the Services, you agree to indemnify, hold harmless and reimburse Humanlink
    Inc.
    and its officers, directors, employees, agents, representatives, partners, and all
    other
    affiliates harmless for all claims and liabilities (actual and threatened),
    obligations,
    settlements, losses, expenses, debts and damages (including costs and attorneys’ fees)
    that arise from or relate to your use or access of the Services, including but not
    limited to any activity and content associated with your Account (whether by you or a
    third party), unless a court of competent jurisdiction enters a final judgment that
    the
    claim, liability, obligation, settlement, loss, expense, debt or damage was the result
    of intentional actions or omissions by Humanlink Inc.. Humanlink Inc. reserves the
    right
    to assume exclusive control of and direct the defense of any matter otherwise subject
    to
    indemnification by you. You agree to assist and cooperate with Humanlink Inc. in the
    defense.
  </p>

  <p><strong>12. General Terms</strong>

    A. Waiver and Severability

    The failure of Humanlink Inc. to enforce any right or term of these Terms will not be
    a
    waiver of the right or term. In the event that any term is held to be invalid or
    unenforceable, then that term will be limited or eliminated to the minimum extent
    necessary, and the remaining parts of these Terms will stay in full force and effect.
    In
    such an instance, the parties agree that a court should give effect to the parties’
    intentions as reflected in the term.

    B. Controlling Law and Jurisdiction

    These Terms and any dispute related to the Terms will be governed by the laws of
    Arkansas without regard to conflicts of law principles. Subject to the dispute
    resolution terms set out in Section 12C below, all claims, legal proceedings or
    litigation arising in connection with the Services will be brought exclusively in the
    federal or state courts located in Little Rock, Pulaski County, Arkansas, United
    States,
    and you consent to the exclusive jurisdiction and venue of those courts.

    C. Dispute Resolution

    You agree that you will notify Humanlink Inc. in writing of any dispute or problem
    related to the Services. Humanlink Inc. will have thirty (30) days to address the
    dispute
    or problem before you may file any legal action. The notice should be addressed:
    [insert
    name], Inc., Attn: Dispute, [insert address].

    Any dispute arising from or relating to the subject matter of these Terms that is not
    voluntarily resolved by the parties pursuant to the previous paragraph must be finally
    settled by arbitration in Little Rock, Pulaski County, Arkansas, in accordance with
    the
    rules then in effect of the American Arbitration Association or its successor, and
    consistent with the requirements and standards of the Federal Arbitration Act or its
    successor. Judgment on or enforcement of the arbitration award may be entered in any
    court having jurisdiction. Any arbitration under this Agreement will take place on an
    individual basis: CLASS ARBITRATIONS AND CLASS ACTIONS ARE NOT PERMITTED. BY USING THE
    SERVICES, YOU ACKNOWLEDGE AND AGREE THAT YOU ARE WAIVING THE RIGHT TO TRIAL BY JURY
    AND
    TO PARTICIPATE IN A CLASS ACTION. Notwithstanding the previous obligations, each party
    will have the right to start an action at any time for injunctive or equitable relief
    in
    the mandatory jurisdiction and venue established above.

    D. Consent to Electronic Communication

    By using the Services, you agree to receive all communications related to your use of
    the Services in electronic form, including, but not limited to, emails sent to the
    email
    address associated with your Account and/or posted notices on the Services. By using
    the
    Services, you agree that all agreements, notices, disclosures and other communications
    that are provided electronically will satisfy all legal requirements that
    communications
    be in writing. All notices from Humanlink Inc. will be deemed effective when sent to
    the
    email address associated with your Account or when posted publicly on the Services.

    E. Entire Agreement

    These Terms and the Privacy Policy are the entire and exclusive agreement between
    Humanlink Inc. and you about the Services. These Terms supersede and replace any other
    or
    prior agreements between Humanlink Inc. and you about the Services.

    If these Terms conflict with any other documents, these Terms will control.

    We may revise these Terms from time to time without notice to you. The most current
    version will always be at the following link: [embed link]. If we believe in our sole
    discretion that a revision is material, we may also notify you by e-mail. By
    continuing
    to use the Services after revisions are effective, you will be bound by the revised
    Terms.

    These Services are operated and provided by Humanlink Inc., Inc., [insert preferred
    address]. If you have any questions about the Terms, please contact us at [insert
    preferred email].

    By registering for and/or using Services in any manner, including but not limited to
    visiting or browsing the Humanlink Inc. mobile application or website, you agree to
    and
    will be bound by all of the terms and conditions contained in these Terms, and all
    additional terms, conditions, rules, policies and/or procedures that may be published
    by
    Humanlink Inc. from time to time on the Services, each of which is incorporated by
    reference and may be updated by Humanlink Inc. at any time without notice to you.
    These
    Terms apply to all users of the Services without exception.

    Effective: January 1, 2016
  </p>


</div>