<table class="table table-striped">
    <tbody>

        <tr>
            <th class="col-md-3">
                From
            </th>
            <th class="col-md-6">
                Preview
            </th>
            <th class="col-md-3">
                Date
            </th>
        </tr>

        <tr ng-repeat="msg in messages">
            <td class="col-md-3">
                {{ msg.members[0].first }} {{ msg.members[0].last}}
            </td>
            <td class="col-md-6">
                <a href="#/detail" >{{ msg.preview }} </a>
            </td>
            <td class="col-md-3">
                {{ msg.updated | date: 'shortDate'}}
            </td>
        </tr>

    </tbody>
</table>
{{ messages }}
