<div class="panel panel-default">
    <table class="table table-striped">
        <tbody>
            <tr ng-repeat="msg in inboxModel">
                <td class="col-md-1">
                    <img src="https://placehold.it/35x35" class="img-rounded">
                </td>
                <td class="col-md-2">
                    {{ msg.name }}
                </td>
                <td class="col-md-6">
                    <a href="#/detail" >{{ msg.lastMessage }} </a>
                </td>
                <td class="col-md-3">
                    {{ msg.date }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
