<div class="container container-footer">
    <div class="row">
        <div class="col-md-8">
            <ul class="list-inline">
                <li><a href="/">About</a></li>
                <li><a href="/">Contact</a></li>
                <li><a href="/">Blog</a></li>
                <li><a href="/">Careers</a></li>
                <li><a href="/terms">Terms</a></li>
            </ul>
        </div>
        <div class="col-md-4 text-right">
            HumanLink, Inc. &copy; 2016
        </div>
    </div>
</div>
