<div class="container container-footer">
  <div class="row">
    <div class="col-md-2">
      <ul class="list-unstyled">
        <li><h4>About us</h4></li>
        <li><a href="/home#/">Home</a></li>
        <li><a href="/home#/pricing">Pricing</a></li>
        <li><a href="/home#/privacy">Privacy</a></li>
        <li><a href="/home#/terms">Terms</a></li>
        <li><a href="/accounts#/contact">Contact</a></li>
        <li><a href="/home#/press">Press</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="list-unstyled">
        <li><h4>Discover</h4></li>
        <li><a href="/home#/caregiver">I am a Caregiver</a></li>
        <li><a href="/home#/careseeker">I need Caregivers</a></li>
        <li><a href="/home#/aboutus">Our Story</a></li>
        <li><a href="http://blog.humanlink.co/">Blog</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      HumanLink, Inc. &copy; 2016
    </div>
  </div>
</div>
