<div class="container container-footer">
  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <ul class="list-unstyled">
        <li><h4>About us</h4></li>
        <li><a href="/home#/">Home</a></li>
        <li><a href="/home#/careseeker">Care seekers</a></li>
        <li><a href="/home#/caregiver">Care providers</a></li>
        <li><a href="/home#/aboutus">Our story</a></li>
        <li><a href="/home#/press">Press</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="list-unstyled">
        <li><h4>Discover</h4></li>
        <li><a href="/home#/search">Search</a></li>
        <li><a href="/home#/faq">Frequent Questions</a></li>
        <li><a href="/home#/pricing">Pricing</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="list-unstyled">
        <li><h4>Legal</h4></li>
        <li><a href="/home#/privacy">Privacy</a></li>
        <li><a href="/home#/terms">Terms</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="list-unstyled">
        <li><h4>Social Media</h4></li>
        <li><a href="http://blog.humanlink.co/">Blog</a></li>
        <li><a href="https://www.facebook.com/justin.van.7773">Facebook</a></li>
        <li><a href="https://www.pinterest.com/humanlink/">Pinterest</a></li>
        <li><a href="https://twitter.com/humanlinkcares">Twitter</a></li>
        <li><a href="https://plus.google.com/+HumanlinkCares/posts">Google+</a></li>
      </ul>
    </div>
  </div>
  <div class="row vmargin20">
    <div class="col-md-12 text-center">
      HumanLink, Inc. &copy; 2016</div>
  </div>
</div>
