<nav class="[% block class %]navigation-bar[% endblock %]" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">HumanLink</a>
        </div>

        [% block content %]
        [% endblock %]

    </div>
    <!-- /.container-fluid -->
</nav>
