<header>
    <div class="navigation-bar">
        <div class="navbar-header">
            <!-- Brand and toggle get grouped for better mobile display. -->
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar-content">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
             </button>
            <a class="navbar-brand" href="/">
                <img class="nav-logo" src="/images/hl.logo.horiz.blue.png" alt="HumanLink logo"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-content">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for connections">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-secondary">Search</button>
                        </span>
                    </div>
                </div>
            </form>
            <div class="navbar-form navbar-right">
                [% if userdata %]
                <a href="/accounts#/profile">[= userdata.name =]</a>
                <a href="/logout" class="btn btn-transparent">Logout</a>
                [% else %]
                <a href="/accounts#/join">Join</a>
                <a href="/accounts#/" class="btn btn-transparent">Sign In</a>
                [% endif %]
            </div>
        </div>
    </div>

    <nav class="sub-navbar">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="/">Dashboad</a></li>
                <li><a href="/accounts#/settings/profile">Settings</a></li>
            </ul>
        </div>
    </nav>

</header>

