<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[% block title %] HumanLink [% endblock %]</title>
    <link rel="stylesheet" href="/stylesheets/build/style.css"/>

    [% block styles %]
    [% endblock %]
</head>
<body
    ng-app="[% block ng_app -%] Common [%- endblock %]"
    ng-controller="[% block ng_controller -%] commonCtrl [%- endblock %]">

    [% include "nav.html" %]
    [% include "site-alert.html" %]

    <div class="container container-main">
        <div class="row">
            <div class="col-md-12">
            [% block content %] [% endblock %]
            </div>
        </div>
    </div>

    [% include "footer.html" %]

    <script type="text/javascript">
        window.HL = {};
        window.HL.userdata = [= userdata | tojson | safe  =];
    </script>

    <script src="/js/build/scripts.min.js"></script>

    [% block scripts %]
    [% endblock %]

</body>
</html>
