.settings-profile {
    .profile-settings-radio {
        margin-left: 20px;
    }

    .profile-settings-radio-label {
        display: block;
    }

    .allergy-item {
        margin: 5px 0;
    }
}
