[% extends "site.html" %]

[% block title %]
Messages
[% endblock %]

[% block content %]
<div class="row">
    <div ng-app="Messages">
        <div class="col-md-2">
            <div class="settings-side-nav">
                <ul class="list-unstyled">
                    <li><a href="#/new">New Message</a></li>
                    <li><a href="#/inbox">Inbox</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10" ui-view></div>
    </div>
</div>
[% endblock %]
