.careseekers {

  .section img {
    @media (max-width: 760px) {
      text-align: center;
      max-height: 400px;
    }
  }

  .section-cs-benefits {
    .fa, .material-icons {
      font-size: 180px;
    }
  }

}