<div class="jumbotron">
    <h2 ng-if="postedJobs" class="text-center">You have {{ postedJobs.length }} previous jobs.</h2>
    <h2 ng-if="!postedJobs" class="text-center">No jobs.</h2>
</div>

<div class="row">
    <div ng-repeat="postedJob in postedJobs | orderBy: '-start_date' ">
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <p>Care-recipient: <b class="pull-right"> {{ postedJob.patient_id }}</b></p>
                    <p>Start day: <b class="pull-right"> {{ postedJob.start_date | date:'longDate' }}</b></p>
                    <p>Start time: <b class="pull-right"> {{ postedJob.start_date | date:'shortTime' }}</b></p>
                    <p>End day: <b class="pull-right"> {{ postedJob.end_date | date:'longDate' }}</b></p>
                    <p>End time: <b class="pull-right"> {{ postedJob.end_date | date:'shortTime' }}</b></p>
                    <p>Wage: <b class="pull-right"> {{ postedJob.wage | currency}}</b></p>
                    <p>Audience: <b class="pull-right"> {{ postedJob.audience.category }}</b></p>
                    <p>
                        <a href="/invoice#/detail/{{ postedJob.id }}">
                            <button class="btn btn-primary">invoice</button>
                        </a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>