<div class="section section-invite" id="invite">
    <div class="container">
        <div class="row col-sm-offset-1 col-sm-10">
            <form class="form-horizontal" ng-submit="invite(contact)">

                <div ng-hide="showInvite" class="text-center">
                    <img src="/images/hl.logo.vert.blue.png">
                    <h3>Thank you for signing up. You will hear from us soon.</h3>
                    <div>
                      <p>Follow us on social media. We are friendly!<p>
                      <ul class="list-inline">
                        <li><a href="https://www.facebook.com/humanlink">
                          <i class="fa fa-facebook-official"></i></a></li>
                        <li><a href="https://twitter.com/humanlinkcares">
                          <i class="fa fa-twitter-square"></i></a></li>
                        <li><a href="https://plus.google.com/+HumanlinkCares">
                          <i class="fa fa-google-plus-square"></i></a></li>
                      </ul>
                    </div>
                </div>

                <div ng-show="showInvite">
                    <div class="text-center">
                        <img src="/images/hl.logo.vert.blue.png" alt="HumanLink invite.">
                        <h3>We would be delighted to invite you to our caregiving community.</h3>
                        <p>Please RSVP by filling out the form below.</p>
                    </div>

                    <div class="form-group">
                        <label for="contact-name"
                               class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-4">
                            <input type="text" id="contact-name" class="form-control input-lg"
                                   ng-model="contact.name" placeholder="Jane Doe" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact-email"
                               class="col-sm-4 control-label">Email</label>
                        <div class="col-sm-4">
                            <input type="email" id="contact-email" class="form-control input-lg"
                                   ng-model="contact.email" placeholder="name@example.com" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact-zipcode"
                               class="col-sm-4 control-label">ZIP Code</label>
                        <div class="col-sm-4">
                            <input type="tel" id="contact-zipcode" class="form-control input-lg"
                                   ng-model="contact.zipcode" placeholder="72701" maxlength="5"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact-referrer"
                               class="col-sm-4 control-label">Referred By</label>
                        <div class="col-sm-8">
                           <div class="row">
                              <div class="col-sm-6">
                                  <input type="text" id="contact-referred" class="form-control input-lg"
                                         ng-model="contact.referrer" placeholder="Optional"/>
                              </div>
                           </div>
                           <span class="help-block">How did you hear about us?</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="contact.interest" value="2">
                                    I am interested in receiving care for myself or someone I care for.
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="contact.interest" value="1">
                                    I am a caregiver.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-4">
                            <button type="submit" class="btn btn-lg btn-primary btn-block">
                                Invite Me</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="section section-press">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-offset-1 col-sm-3">
                <div class="press press-techco"></div>
                <p>
                    &ldquo;
                    HumanLink seeks to raise industry standards with required background
                    checks and ensuring caregivers have the highest standard of testing and certification.
                    &rdquo;
                </p>
            </div>
            <div class="col-sm-3">
                <div class="press press-cw"></div>
                <p>
                    &ldquo;
                    Human Link applies a LinkedIn strategy to find
                    vetted in-home health providers that best meet a consumer&rsquo;s needs.
                    &rdquo;
                </p>
            </div>
            <div class="col-sm-3">
                <div class="press press-nwa"></div>
                <p>
                    &ldquo;
                    HumanLink is online community for matching families and elders with quality in-home caregivers.
                    &rdquo;
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-4 col-xs-offset-3 col-xs-2">
                <div class="press press-tc"></div>
            </div>
            <div class="col-sm-offset-0 col-xs-offset-1 col-xs-2">
                <div class="press press-ark"></div>
            </div>
        </div>
    </div>
</div>

<div class="section section-contact">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6">
                <h2>Contact Us</h2>
                <p><i class="fa fa-phone"></i>
                    <a href="tel:+14794664214">(479) 466-4214</a></p>
                <p><i class="fa fa-envelope"></i>
                    <a href="mailto:support@humanlink.co">support@humanlink.co</a></p>
            </div>
            <div class="col-sm-6">
                <h2>Visit Us</h2>
                <p>1 E. Center Street, Suite 320A</p>
                <p>Fayetteville, AR 72701</p>
            </div>
        </div>
    </div>
</div>
