[% extends "layouts/blanket.html" %]

[% block title %] HumanLink | Affordable, high-quality caregivers. [% endblock %]

[% block body %]
<div class="landing" ng-app="Home" ng-controller="LandingCtrl">

<nav class="navigation-bar" role="navigation">
  <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target="#navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img class="nav-logo" src="/images/hl.logo.horiz.blue.png" alt="HumanLink Logo"/>
            </a>
        </div>
        <div id="navbar-toggle" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/caregivers" title="HumanLink for caregivers">I am a caregiver</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="section section-welcome">
    <div class="container ">
        <div class="row">
            <div class="col-sm-6">
                <h1>A community of caring for your parents, and you.</h1>
                <p class="lead">HumanLink is currently by invitation only.</p>
                <p>
                    <button class="btn btn-lg btn-default" ng-click="gotoInvite()">
                        Request Invite <i class="fa fa-angle-right"></i>
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section section-overview">
    <div class="container">
        <div class="row">
            <h1 class="text-center">How HumanLink Works</h1>
            <div class="col-sm-offset-1 col-sm-5 steps">
                <p>Our desktop and mobile platforms make it
                    easy for you to request amazing care.</p>
                <h3><span class="text-muted">1.</span>
                    Search</h3>
                <p>Search for caregivers based on your needs.</p>
                <h3><span class="text-muted">2.</span>
                    Request</h3>
                <p>Book a caregiver best suited to your needs and schedule a visit.
                    No phone calls necessary.</p>
                <h3><span class="text-muted">3.</span>
                    Review</h3>
                <p>Review the caregiver based on response and care provided.</p>
            </div>
             <div class="col-sm-6">
                <img src="/images/landing/humanlink_solutions.png" class="img-responsive" alt="HumanLink desktop and mobile solutions.">
            </div>
       </div>
    </div>
</div>

<div class="section section-benefits">
    <div class="container text-center">
        <h1>Why HumanLink?</h1>
        <div class="row">
            <div class="col-sm-6">
                <i class="material-icons">event_available</i>
                <h2>Short Care Visits</h2>
                <p>Do you just need someone to check-in on your loved ones every
                    now and then? Some of our caregivers are happy to help.
                    Our matching algorithms will find the best
                    caregiver for your situation.</p>
            </div>
            <div class="col-sm-6">
                <i class="material-icons">card_membership</i>
                <h2>Vetted and Verified</h2>
                <p>We are very selective about who we invite to provide care
                    in our community.
                    Less than 50% of caregivers who apply are invited to be on
                    our platform.
                    Our caregivers are personally vetted by HumanLink personell
                    and background checked.</p>
            </div>
        </div>
    </div>
</div>

<div class="section section-benefits">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-6">
                <i class="material-icons">videocam</i>
                <h2>Profile Videos</h2>
                <p>Finding a good caregiver is hard.
                    We know that you are pressed for time.
                    Our caregiver profiles include video interviews you
                    can watch from any device. We want to make your
                    hiring decision easier.</p>
            </div>
            <div class="col-sm-6">
                <i class="material-icons">speaker_phone</i>
                <h2>Dealing With a No-Show?</h2>
                <p>Are you stressed out over a last minute caregiver cancellation?
                    Our one-click booking tool enables you to broadcast your
                    care needs to caregivers in our network.
                    This will ensure a timely response so you are assured
                    the care your loved one needs.</p>
            </div>
        </div>
        <div class="col-sm-offset-4 col-sm-4">
            <p><button type="button" class="btn btn-lg btn-block btn-default btn-transparent"
                    ng-click="gotoInvite()">
                Request Invite</button></p>
        </div>
    </div>
</div>

<div class="section section-pricing">
    <div class="container">
        <div class="row">
            <h1 class="text-center">Pricing</h1>
            <div class="col-sm-offset-2 col-sm-8">
              <ul class="list-unstyled">
                <li><i class="fa fa-check-circle-o"></i>
                    Companionship
                    <span class="text-muted" tooltip="Errands, housekeeping, transportation">
                        (?)</span>
                   , personal
                   <span class="text-muted" tooltip="Bathing and dressing, exercise and mobility, medication reminders">
                        (?)</span>
                   , Alzheimer&rsquo;s and dementia care
                   <span class="text-muted" tooltip="Companionship, mental simulation">
                      (?)</span>
                   , and more</li>
                <li><i class="fa fa-check-circle-o"></i>
                Vetted and verified caregiving professionals
                </li>
                <li><i class="fa fa-check-circle-o"></i>
                No contracts, 1-hour minimum</li>
                <li><i class="fa fa-check-circle-o"></i>
                Desktop and mobile apps to stay in touch with loved ones</li>
                <li><i class="fa fa-check-circle-o"></i>
                Online and phone support</li>
              </ul>
              <h2 class="text-center">Average hourly rate of <strong>$18</strong> per hour.</h2>
              <p>
                By establishing a close relationship with a HumanLink caregiver, care seekers
                stay close to the loved ones as well as save over $400 per month compared to
                traditional home care agencies.
              </p>
            </div>
        </div>
    </div>
</div>

[% include "home/_interest-form.html" %]

</div>
[% endblock %] <!-- block -->
