[% extends "layouts/blanket.html" %]

[% block title %] Become a HumanLink Caregiver.  [% endblock %]

[% block meta %]
<meta name="description"
      content="Become a HumanLink caregiver and earn great money. Be your own boss and get paid for providing care on your own schedule.">

<meta property="og:title" content="Become a HumanLink Caregiver">
<meta property="og:description"
      content="Become a HumanLink caregiver and earn great money. Be your own boss and get paid for providing care on your own schedule.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.humanlink.co/caregivers">
<meta property="og:image" content="https://www.humanlink.co/images/hl.logo.vert.blue.png">
[% endblock %]

[% block body %]
<div class="caregivers" ng-app="Home" ng-controller="LandingCtrl">

  [% include "home/_landing-nav.html" %]

  <div class="section">
    <div class="container">

      <div class="row">

        <div class="col-md-offset-2 col-md-4">
          <div class="benefits">

            <div class="panel panel-default">
              <div class="panel-heading text-center">
                <h3 class="panel-title">Basic Plan</h3>
              </div>
              <div class="panel-body text-center">
                <h1>$9.99</h1>

                <h3>per month</h3>

                <form action="" method="POST">
                  <script
                          src="https://checkout.stripe.com/checkout.js"
                          class="stripe-button"
                          data-key="pk_test_gjbQ24Sqhl26mNOYoq9FRE6V"
                          data-amount="0999"
                          data-name="Humanlink"
                          data-description="Basic plan ($9.99 per month)"
                          data-image="/images/appicon.png"
                          data-locale="auto">
                  </script>
                </form>
              </div>
            </div>

            <ul>
              <li>Create unlimited General and Care channels</li>
              <li>Add unlimited family and volunteer members to your channels</li>
              <li>Invite up to 10 professional care providers to your care channels</li>
              <li>Archive upto 10,000  messages</li>
            </ul>

          </div>
        </div>

        <div class="col-md-4">
          <div class="benefits">

            <div class="panel panel-default">
              <div class="panel-heading text-center">
                <h3 class="panel-title">Premium Plan</h3>
              </div>
              <div class="panel-body text-center">
                <h1>$49.99</h1>

                <h3>per month</h3>

                <form action="" method="POST">
                  <script
                          src="https://checkout.stripe.com/checkout.js"
                          class="stripe-button"
                          data-key="pk_test_gjbQ24Sqhl26mNOYoq9FRE6V"
                          data-amount="4999"
                          data-name="Humanlink"
                          data-description="Premium plan ($49.99 per month)"
                          data-image="/images/appicon.png"
                          data-locale="auto">
                  </script>
                </form>
              </div>
            </div>

            <ul>
              <li>All the benefits of the <strong>Basic</strong> plan</li>
              <li>Unlimited invites to professional care providers</li>
              <li>Other cool stuff</li>
            </ul>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
[% endblock %] <!-- block -->
