<div class="form-group">
    <label class="col-sm-3 control-label" for="recipient-interests">
        Interests</label>

    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-10">
                <textarea id="recipient-interests" class="form-control" rows="4"></textarea>
            </div>
        </div>
        <p class="help-block">Does the recipient have any special interests?
            Hobbies, sports, TV shows, etc. This information helps our care
            professionals provide excellent service.</p>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="recipient-profession">
        Last profession</label>

    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-10">
                <input id="recipient-profession" class="form-control"/>
            </div>
        </div>
        <p class="help-block">What was the recipients last profession?</p>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="recipient-notes">
        General Notes</label>

    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-10">
                <textarea id="recipient-notes" class="form-control" rows="4"></textarea>
            </div>
        </div>
        <p class="help-block">Any other information that will help our care professional</p>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
            <a ui-sref="settings.new_recipient.needs" class="btn btn-block btn-default">Previous
            </a>
        </div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-block btn-secondary">Save Recipient
            </button>
        </div>
    </div>
</div>