body { padding-top: 40px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";


#square {
	width: 100px;
	height: 100px;
	background: red;
}

.imageClip{
width:400px;
height:100px;
overflow:hidden;
}

.cover{
    color: rgb(255, 255, 255);
    position: relative;
    min-height: 350px;
    background: url("http://lewisking.net/images/header-image.jpg") no-repeat scroll 0px 100% / cover transparent;
}