// btn-group
.btn-combo{
  min-width:100px;
}

.m-md-h{
  margin: 0 10px;
}
.m-md{
  margin: 10px;
}
.p-md-h{
  padding: 0 10px;
}
.p-md{
  padding: 10px;
}
.panel-block{
  border: none;
  border-width: 0;
  box-shadow: none;
  text-align: center;
  .circle-block{
    display: inline-block;
    min-width:80px;
    min-height:80px;
    padding: 15px;
    font-size: 35px;
    border-radius: 50%;
    background-color: @type;
    color:white;
    text-align: center;

  }
}

.common-button{
  min-width: 150px;
}



