[% extends "site.html" %]

[% block title %]
HumanLink Terms and Conditions
[% endblock %]

[% block content %]

<div>
    <h2>Privacy</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Ut ut placerat ligula, eu varius nisl.
        Mauris bibendum lectus eu nisi volutpat lobortis.
    </p>
    <p>
        Praesent augue augue, lobortis nec dolor at, egestas tristique dolor.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Donec eu consequat lorem.
    </p>
</div>

[% endblock %]
