{% extends "launchNavbar.html" %}
{% block content %}


<!-- CHILD TEMPLATE -->
  
    <div class="container-fluid">
	<div class="row" > 
	   <div class="jumbotron">
	        <h1>Leadership Team</h1>
	   </div>
	</div>
    </div>   
    <img type="hidden" src="" alt="">
       
      <div class="container marketing">     

      <div id="careGiverBenefits" class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" type="image" src="/images/Northwestern-logo.jpg" width="500" height="500" alt="/images/northwestern-logo.jpg">
        </div>
        <div class="col-md-7">
          <h3 class="featurette-heading">Ven Vadlamani. <br>
          	<span class="text-muted">CEO and Co-Founder.</span>
          </h3>
          <p class="lead">
          </p> 
        </div>
      </div>

      <hr class="featurette-divider">

      <div id="elderBenefits" class="row featurette">
        <div class="col-md-7">
          <h3 class="featurette-heading">Murali Kota. <br>
          <span class="text-muted">CTO and Co-Founder.</span></h3>
          <p class="lead"></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/ut-logo.jpg" width="500" height="500" alt="Generic placeholder image">
        </div>
      </div>
		
      <hr class="featurette-divider">
	  </div> <!-- end container-marketing -->
	  	
	    <div class="container-fluid">
		<div class="row" > 
		   <div class="jumbotron">
		        <h1>Advisory Board</h1>
		   </div>
		</div>
	    </div>   

      <div class="container marketing">     
      
      <div class="row">

        <div class="col-lg-6">
          <img class="img-circle" src="/images/Yale-logo.jpg" alt="Generic placeholder image"><br>
          <h2>Robert C. Deegan</h2>
          <p>Robert is an associate in the Insurance Recovery Group in Reed Smith's Chicago office.  Robert represents clients in civil disputes, with an emphasis on representing clients in actions seeking to enforce rights under commercial insurance policies as well as advising clients on scope of coverage.</p>
          <p>Robert has a JD from the University of Chicago, M.S. in Nursing from Yale University and a B.A. from Yale University </p>
          
        </div><!-- /.col-lg-6 -->

        <div class="col-lg-6">
          <img class="img-circle" src="/images/razorback.jpg" alt="Generic placeholder image"><br>
          <h2>Dr. Avin Rekhi</h2>
          <p>Avin is a Nephrologist at the Medical Associates of NW Arkansas. He is co-owner and Medical Director of the Dialysis centers of NW Arkansas. Dr.Rekhi is a Board certified in NEphrology and internal medicine.</p>
          <p> Dr. Rekhi is graduate of the Nephrology Fellowship Program from the University of Arkansas for Medical Sciences, Residency in Internal Medicine from State University of New York/ Kings County Hospital and has an MD from the Armed Forces Medical College in India.</p>
        </div><!-- /.col-lg-6 -->
      
      </div><!-- /.row -->

  		<br>
  
      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
  	  
  	  </div> <!-- end container-marketing -->	

<!-- END CHILD TEMPLATE -->

{% endblock %}

