{% extends "admin.html" %}
{% set active_page = "blog" %}
{% block content %}
		{% set child_navigation = [
		    ('/ctadminBlog?', 'blogMain', 'Main'),
		    ('/ctadminBlogEdit?', 'blogEdit', 'Edit Blog'),
		    ('/ctadminBlogPost?', 'blogPost', 'Post Blog')
		    
		] -%}

		{% set child_active_page = child_active_page |default('blogMain') -%} <!-- SET THE CURRENT ACTIVE_PAGE VARIABLE -->										

		<h1 class="page-header"> Blog's </h1> 
          <h4 class="sub-header">
				<ul class="nav nav-pills">
					{% for href, id, caption in child_navigation %}
					  <li{% if id == child_active_page  %} class="active"{% endif %}>
					  	<a href="{{ href|e }}">{{ caption|e }}</a>
					  </li>
					{% endfor %}
				</ul>     
          </h4>

			{% if child_active_page == 'blogMain' %}
				<br>
				<div class="alert alert-info">No Notifications.</div>				 
			{% endif %}          
				               				          
          {% block child_content %}{% endblock %}
          
	
{% endblock %}