{% extends "Navbar.html" %}
{% block content %}
<br>
  <div class="container">

      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title">Sample blog post</h2>
            <p class="blog-post-meta">May 1, 2014 by <a href="#">Ven</a></p>

            <p>This is a post</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Another blog post</h2>
            <p class="blog-post-meta">April 23, 2014 by <a href="#">Murali</a></p>

            <p>This post is by <a href="#">Murali</a>, </p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">New feature</h2>
            <p class="blog-post-meta">April 14, 2014 by <a href="#">Murali</a></p>

            <p>Another Blog post.</p>
          </div><!-- /.blog-post -->

          <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
          </ul>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Welcome to the CareTiger's official blog. </p>
          </div>
          <div class="sidebar-module">
            <h4>ARCHIVES</h4>
            <ol class="list-unstyled">
              <li><a href="#">May 2014</a></li>
              <li><a href="#">April 2014</a></li>
                 </ol>
          </div>
          <div class="sidebar-module">
            <h4>CATEGORIES</h4>
            <ol class="list-unstyled">
              <li><a href="http://newoldage.blogs.nytimes.com/">NewOldAge (NY Times Blog)</a></li>
                 </ol>
          </div>

          <div class="sidebar-module">
            <h4>FOLLOW</h4>
            <ol class="list-unstyled">
              <li><a href="#">Google+</a></li>
              <li><a href="#">Facebook</a></li>              
              <li><a href="#">Twitter</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
    
{% endblock %}