{% extends "launchNavbar.html" %}
{% block content %}
		<div class="jumbotron">
	    <div class="container">
		    <div class="row" > 
				<div class="col-xs-12">
				    <div class="page-header" style="height:100px">		    
					    <h1>Career</h1>
						<p>We are currently hiring for our NorthWest Arkansas offices.</p>            
				    </div>
				</div>
			</div>
		</div>
		</div>
		
		<br>
 <br> 
  <div class="container marketing">
 
		<div class="list-group">
		  <a href="#" class="list-group-item">
		    <h4 class="list-group-item-heading">UX Architect</h4>
		    <p class="list-group-item-text">UI Design, HTML, CSS, Javascript.</p>
		  </a>
		  <a href="#" class="list-group-item ">
		    <h4 class="list-group-item-heading">Mobile developer</h4>
		    <p class="list-group-item-text">Objective C, Java, iBeacon, etc.</p>
		  </a>  
		</div>


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container --> 
{% endblock %}