{% extends "landingPageNavbar.html" %}
{% block content %}
		<div class="jumbotron" style="background-color:white">
	    <div class="container-fluid">
		    <div class="row" > 
				<div class="col-xs-12">
				    <div class="page-header">		    
					    <h1>Get in touch</h1>
				    </div>
				</div>
			</div>
		</div>
		</div>

    <div class="row" > 
		<div class="col-xs-2">
		</div>
		
		<div class="col-xs-10">

			<form class="form-horizontal" action="/contactUs?" method="post" role="form" id="contactus">
			  <div class="form-group">
			    <label for="firstName" class="col-sm-2 control-label">First Name *</label>
			    <div class="col-sm-4">
			      <input type="text" class="form-control" name="inputFirstName" placeholder="First Name" required>
			    </div>
			  </div>
			
			  <div class="form-group">
			    <label for="lastName" class="col-sm-2 control-label">Last Name *</label>
			    <div class="col-sm-4">
			      <input type="text" class="form-control" name="inputLastName" placeholder="Last Name" required>
			    </div>
			  </div>
			
			  <div class="form-group">
			    <label for="inputEmail" class="col-sm-2 control-label">Email *</label>
			    <div class="col-sm-4">
			      <input type="email" class="form-control" name="inputEmail" placeholder="Email" required>
			    </div>
			  </div>
			
			  <div class="form-group">
			    <label for="inputPhone" class="col-sm-2 control-label">Phone Number </label>
			    <div class="col-sm-4">
			      <input type="tel" class="form-control" name="inputPhone" placeholder="(e.g., 555-555-5555)">
			    </div>
			  </div>
			
			  <div class="form-group">
			    <label for="inputCompany" class="col-sm-2 control-label">Company </label>
			    <div class="col-sm-4">
			      <input type="tel" class="form-control" name="inputCompany" placeholder="Tyson Foods, Walmart, etc. Some employer's support Eldercare.">
			    </div>
			  </div>
			  
			  <div class="form-group">
			    <label for="inputComment" class="col-sm-2 control-label">Questions/Comment </label>
			    <div class="col-sm-4">
				  <textarea class="form-control" name="inputComment" rows="10" placeholder="How can we help you?"></textarea>
			    </div>
			  </div>
			  
			
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-2">
			      <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
			    </div>
			  </div>
			
			  <div class="form-group">
			    <div class="col-sm-10">
			    <label  class="col-sm-5 control-label" style="font-style:italic">(Fields marked with * are required.)</label>
			    </div>
			  </div>
			
			</form>
		</div>

	</div>
<script>
$ ("#contactus").validate();
</script>

{% endblock %}
