<!-- BEGIN FOOTER -->
	<p class="lead">
	
	<footer>
	 <div class="container footer-container page-container page-container-fixed">
		<div id="footer" class="row">
		
		
				<div class="col-md-4">
				  <h4>Discover</h4>
				  <ul class="unstyled list-unstyled js-footer-links">
				    <li><a href="/trust">Trust & Safety</a></li>
				    <li><a href="/wishlists/caregiver_picks">CareTiger Picks</a></li>
				    <li><a href="/live/caregiver_open">CareTiger Open</a></li>
				    <li><a href="/mobile">Mobile</a></li>
				    <li><a href="/info/why_host">Why become a Caregiver</a></li>
				    <li><a href="/hospitality">Hospitality</a></li>
				    <li><a href="/stories">Stories</a></li>
				    <li><a href="/sitemaps">Site Map</a></li>
				  </ul>
				</div>


				<div class="col-md-4">
				  <h4>Company</h4>
				  <ul class="unstyled list-unstyled js-footer-links">
				    <li><a href="/about/about-us">About</a></li>
				    <li><a href="/jobs">Jobs</a></li>
				    <li><a href="/press/news">Press</a></li>
				    <li><a href="http://blog.CareTiger.com">Blog</a></li>
				    <li><a href="/help">Help</a></li>
				    <li><a href="/policies">Policies</a></li>
				    <li><a href="/help/responsible-hosting">Responsible Care giving</a></li>
				      <li><a href="/disaster-response">Disaster Response</a></li>
				    <li><a href="/terms">Terms & Privacy</a></li>
				  </ul>
				</div>
				
				<div class="col-md-4">
				  <h4>Join us on</h4>
				  <ul class="unstyled list-unstyled js-external-links">
				    <li><a href="//twitter.com/CareTiger" target="_blank">
				      Twitter
				    </a></li>
				    <li><a href="//www.facebook.com/CareTiger" target="_blank">
				      Facebook
				    </a></li>
				    <li><a href="https://plus.google.com/CareTiger" rel="publisher" target="_blank">
				      Google
				    </a></li>
				    <li><a href="http://www.youtube.com/CareTiger" target="_blank">
				      YouTube
				    </a></li>
				  </ul>
				  <div id="copyright">
				    &copy; CareTiger, Inc.
				  </div>
				</div>     
      	</div>    
      	</div>   
      </footer>

<!-- END FOOTER -->