{% extends "landingPageNavbar.html" %}
{% block content %}

	<br>
	<br>
	<br>
	<br>
	<br>

    <div class="container marketing">

      <!-- Two columns of text -->
      <div class="row">
        <div class="col-lg-6">
          <img class="img-square" src="images/elderneedingcare.jpg" alt="Generic placeholder image" align="middle" style="width: 410px; height: 244px;">          
			<h2>Are you looking for elder care?</h2>
          	<p>Tired of constant searching for dependable care providers for your dear ones? Want more peace of mind with the knowledge that your near and dear ones are well taken care of? Check how HumanLink can help</p>
			<p><a class="btn btn-large btn-info" href="#careseeker" role="button">Get Started &raquo;</a></p>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
          <img class="img-square" src="images/caregiver.jpg" alt="Generic placeholder image" style="width: 410px; height: 244px;">
          <h2>Interested in caring for elders?</h2>
          <p>Have experience taking care of senior people? Have an affable nature and lots of patience? Looking for opportunities to earn extra money taking care of elders in need of care? Check how HumanLink can help</p>
          <p><a class="btn btn-large btn-info" href="#caregiver" role="button">Get Started &raquo;</a></p>
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->

	<br>
	<br>
	<br>

      <!-- START THE BLOG SECTION -->

      <div class="row">
		<hr id="careseeker">
        <div class="col-sm-12 blog-main">
		<hr>
          <div class="blog-post">
            <h2 class="blog-post-title">Care Seekers</h2>
			<br>
            <p>HumanLink will make it very easy for you to find reliable care when you need it through our innovative approach to finding and selecting caregivers</p>
            <ul>
              <li><strong>Convenient Search</strong>: Unlike most sites, you will be able to search and view the profiles of all the care givers available on our platform. You can search by zip code or by skill</li>
              <li><strong>Social Proofing</strong>: Identify the most trusted caregivers by reviewing their connections and the recommendations received from clients as well as connections.</li>
              <li><strong>Worry free back up care</strong>: Maintain a collection of vetted caregivers. When the primary caregiver backs out due to unavoidable reasons, the system will allow you to send out a beacon out to your collection of caregivers .</li>
              <li><strong>Background Checks</strong>: Request a detailed background checks for any caregiver. HumanLink will check the Federal and the State databases for criminal background as well as the sex offenders database.</li>
            </ul>

          </div><!-- /.blog-post -->


	<hr id="caregiver">
          <div class="blog-post">
            <h2 class="blog-post-title">Caregivers</h2>
			<br>
            <p>HumanLink will allow you to develop your own business of providing care to the elderly people. You can do so on a full time basis or on a part time basis</p>
            <ul>
              <li><strong>Personal Brand</strong>: Build your personal brand by developing an attractive profile, connecting with respected folks in the community and soliciting recommendations from your clients</li>
              <li><strong>Get Continuing Education</strong>: Leverage the online and offline courses to get the necessary certifications to get specialized and higher paying jobs. Keep yourself upto date by attending the free seminars by top Physicians and Nurses</li>
              <li><strong>Social Networking</strong>: Connecting with respected people in your community, your clients and others in your profession. The more connections you have, the more likely it is that you will be preferred by those looking for elder care</li>
              <li><strong>Background Checks</strong>: Request your own background check to remove any apprehension for those looking for elder care.</li>
            </ul>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

      </div><!-- /.row -->


      <!-- /END THE BLOG SECTION -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 HumanLink. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->

		
{% endblock %}
