{% extends "landingPageNavbar.html" %}
{% block content %}

	<br>
	<br>
	<br>
    <div class="container marketing">

      <!-- Two columns of text -->
      <div class="row">
        <div class="col-lg-6">
          <img class="img-square" src="images/elderneedingcare.jpg" alt="Generic placeholder image" align="middle" style="width: 410px; height: 244px;">          
			<h2>Are you looking for elder care?</h2>
          	<p>Tired of constant searching for dependable care providers for your dear ones? Want more peace of mind with the knowledge that your near and dear ones are well taken care of? Check how HumanLink can help</p>
			<p><a class="btn btn-large btn-info" href="#careseeker" role="button">Get Started &raquo;</a></p>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
          <img class="img-square" src="images/caregiver.jpg" alt="Generic placeholder image" style="width: 410px; height: 244px;">
          <h2>Interested in caring for elders?</h2>
          <p>Have experience taking care of senior people? Have an affable nature and lots of patience? Looking for opportunities to earn extra money taking care of elders in need of care? Check how HumanLink can help</p>
          <p><a class="btn btn-large btn-info" href="#caregiver" role="button">Get Started &raquo;</a></p>
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr id="careseeker" class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/nurse_elder.jpg" width="500" height="500">
        </div>
      </div>

      <hr id="caregiver" class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider">


      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->

		
{% endblock %}
