
<!DOCTYPE html>
  <head>
    <title>HumanLink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
	<link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/css/bootstrap.css" rel="stylesheet" >
	<link rel="stylesheet" href="/stylesheets/custom.css" type="text/css"/>
	<link rel="stylesheet" href="/stylesheets/carousel.css" type="text/css"/>
	<link rel="stylesheet" href="/stylesheets/blog.css" type="text/css"/>
	<link rel="stylesheet" href="/stylesheets/calendar.css" type="text/css"/>
	<link rel="stylesheet" href="/stylesheets/cover.css" type="text/css"/>


  </head>
  
  <body >
  
	<!--  BEGIN NAVBAR --> 
    <div class="navbar-wrapper">
     <div class="container">	
	 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
        	<!--  Brand and Toggle get grouped for better mobile display -->
	        <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	              <span class="sr-only">Toggle navigation</span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand active" href="/?">HumanLink</a>
	        </div>
	        
			<!-- collect the nav links, forms and other content for toggling -->
		  	<div class="collapse navbar-collapse navbar-ex1-collapse">	  	
			    <div class="collapse navbar-collapse">

				<ul class="nav navbar-nav navbar-right">
		        	<li><a href="/?"><span class="glyphicon glyphicon-home"></span> Home </a></li>
		        	<li><a href="/contactUs?"><span class="glyphicon glyphicon-phone-alt"></span> Contact us </a></li>
				</ul>

					            		     	
		     	</div>
        	</div>	<!--  NAVBAR COLLAPSE -->
        	</div> <!-- CONTAINER FLUID CLLAPSE -->
	</nav>
	</div>
	</div>
	<!--  END NAVBAR -->

	<!-- CHILD TEMPLATES-->
	{% block content %}{% endblock %}
	<!-- END CHILD TEMPLATES-->

	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.js"></script>  
		<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/languages/docs.min.js"></script> 
	  	<script src="/js/calendar.js"></script>
	</body>
	</html>