{% extends "navbar.html" %}

{% block content %}

	<div class="jumbotron">
	    <div class="container">
		    <div class="row" > 
				<div class="col-xs-12">
				    <div class="page-header" style="height:100px">		    
					    <h1>Log in</h1>
				    </div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
	<div class="row">
	
		<form role="form" action="/Login" method="get" >	
		
			<div class="row">					
			  	<div class="col-xs-4">
				  	<div class="form-group">
				    <label for="inputEmail">Email address</label>
				    <input type="email" class="form-control" id="inputEmail" placeholder="example@example.com">
				  	</div>
			  	</div>
			</div>
			
			<div class="row">					
			  	<div class="col-xs-4">		  
					  <div class="form-group">
					    <label for="inputPassword">Password</label>
					    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
					  </div>
				</div>
			</div>
		  
			<div class="row">					
			  	<div class="col-xs-4">
				  <div class="checkbox">
				    <label>
				      <input type="checkbox"> Remember Me
				    </label>
				  </div>
				</div>
			</div>
						
			<br>		
			<div class="row">					
		  	<div class="col-xs-4">
		  		  <button type="submit" class="btn btn-lg btn-primary">Login</button>
		  	</div>	  	
		  	</div>	  
		</form>

	</div>
	</div>


{% endblock %}