{% extends "maintenanceCareers.html" %}
{% set child_active_page  = "careersEdit" %}
{% block child_content %}
<!-- AJAX script for this page -->
<script>

</script>

<table class="table table-hover table-striped">
	 <tr class="header">
	 	<th> Title </th>
	 	<th>Qualifications</th>
	 	<th>Responsibilities</th> 	
	 	<th>Created By</th> 	
	 	<th>Actions</th> 		 	
	 </tr>

      	{% for career in careerList %}
         <tr>
         	<td>{{ career ['Title'] }}</td>
         	<td>{{ career ['Qualifications'] }}</td>
         	<td>{{ career ['Responsibilities'] }}</td>
         	<td>{{ career ['createdBy'] }}</td>
         	<td>
         		<button type="button" class="btn btn-primary">Edit</button>
         		<button type="button" class="btn btn-danger">Delete</button>
       		</td>         	         	
         </tr>
      	{% endfor %}

</table>

{% endblock %}