{% extends "collectionsMainPage.html" %}

{% block child %}  
<br>

<div class="col-md-offset-1 col-md-10" >	

	<div class="panel panel-primary">
	<div class="panel-body">
		Hello {{ user.email()}}. Your connections ...
	</div>	
	</div>	
	

	<div class="row">
		  
		  <div class="col-sm-4 col-md-3">  
		    <div class="thumbnail">
		      <a href="/searchProfilePreviewCommunityLeader"><img src="/images/jamie-hopperton.jpg" style="width: 150px; height: 135px;" alt="..."></a>	      
		      <div>
		        <h5>Jaime</h5>     		
		      </div>
		    </div>	  
		  </div>
		  
		  <div class="col-sm-4 col-md-3">  
		    <div class="thumbnail">
		      <a href="/searchProfilePreviewCommunityLeader"><img src="/images/Jane_CNA.jpg" style="width: 150px; height: 135px;" alt="..."></a>	      
		      <div>
		        <h5>Jane</h5>     		
		      </div>
		    </div>	  
		  </div>
		  
		  <div class="col-sm-4 col-md-3">  
		    <div class="thumbnail">
		      <a href="/searchProfilePreviewCommunityLeader"><img src="/images/Nancy_HomeMaker.jpg" style="width: 150px; height: 135px;" alt="..."></a>	      
		      <div>
		        <h5>Nancy</h5>     		
		      </div>
		    </div>	  
		  </div>
		  		  
	</div>
	
	<div class="row">
		  
		  <div class="col-sm-4 col-md-3">  
		    <div class="thumbnail">
		      <a href="/searchProfilePreviewCommunityLeader"><img src="/images/janicehr.jpg" style="width: 150px; height: 135px;" alt="..."></a>	      
		      <div>
		        <h5>Janice</h5> 
    		
		      </div>
		    </div>	  
		  </div>
		  
		  <div class="col-sm-4 col-md-3">  
		    <div class="thumbnail">
		      <a href="/searchProfilePreviewCommunityLeader"><img src="/images/nurse_elder.jpg" style="width: 150px; height: 135px;" alt="..."></a>	      
		      <div>
		        <h5>Joan</h5> 
		      </div>
		    </div>	  
		  </div>
		  
		  <div class="col-sm-4 col-md-3">  
		    <div class="thumbnail">
		      <a href="/searchProfilePreviewCommunityLeader"><img src="/images/pastor-jones.jpg" style="width: 150px; height: 135px;" alt="..."></a>	      
		      <div>
		        <h5>James</h5> 
		      </div>
		    </div>	  
		  </div>
	</div>
	
		<div class="row">
		  
		  <div class="col-sm-4 col-md-3">  
		    <div class="thumbnail">
		      <a href="/searchProfilePreviewCommunityLeader"><img src="/images/alex-milton.jpg" style="width: 150px; height: 135px;" alt="..."></a>	      
		      <div>
		        <h5>Jonathan</h5> 
    		
		      </div>
		    </div>	  
		  </div>
		  
		  <div class="col-sm-4 col-md-3">  
		    <div class="thumbnail">
		      <a href="/searchProfilePreviewCommunityLeader"><img src="/images/male_nurse.jpg" style="width: 150px; height: 135px;" alt="..."></a>	      
		      <div>
		        <h5>Noah</h5> 
		      </div>
		    </div>	  
		  </div>
		  
		  <div class="col-sm-4 col-md-3">  
		    <div class="thumbnail">
		      <a href="/searchProfilePreviewCommunityLeader"><img src="/images/addPerson.jpg" style="width: 150px; height: 135px;" alt="..."></a>	      
		      <div>
		        <h5>Add connection...</h5> 
		      </div>
		    </div>	  
		  </div>
	</div>


</div>
{% endblock %}