<!DOCTYPE html>
  <head>
    <title>HumanLink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" >
	<link rel="stylesheet" href="/stylesheets/custom.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/dashboard.css"  type="text/css" />
	
  </head>
  
  	<body>
  	
	<!--  BEGIN OUTER NAVBAR --> 
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
        
        	<!--  Brand and Toggle get grouped for better mobile display -->
	        <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	              <span class="sr-only">Toggle navigation</span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand active" href="/profileMainPage?">HumanLink</a>
	        </div>
	        
	   	          
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <!-- NAVBAR LEFT  -->	
		    
		      <form class="navbar-form navbar-left" action="searchResultsAllConnections?" role="search" method="get">
		      	<div class="input-group"> 			           
			    <input name="cityOrZipcode" type="text" class="form-control" placeholder="City or Zipcode">
		        </div>
		        <button type="submit" class="btn btn-primary form-control">Find Care</button>
		      </form>
		      
		      
		      <!-- NAVBAR RIGHT -->
		      <ul class="nav navbar-nav navbar-right">
		      {% if user %}		      
		       <li class="dropdown">
		          <a href="/profileMainPage?">Home</a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="">News Feed</a></li>
		          </ul>
		        </li>	
		        		        
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile<span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		           	<li role="presentation" class="dropdown-header">Profile Preview - Examples</li>
		            <li><a href="/profilePreviewPatientFamily?">Patient Family</a></li>
		            <li><a href="/profilePreviewFranchisee?">Franchisee</a></li>
		            <li><a href="/profilePreviewCaregiver?">Caregiver </a></li>
		            <li><a href="/profilePreviewHospital?">Mercy Hospital</a></li>
		            <li><a href="/profilePreviewFireDepartment?">Rogers Fire Department</a></li>
					<li role="presentation" class="divider"></li>		            
		            <li><a href="/profileEdit?">Edit Profile</a></li>
		            <li><a href="/profileViews?">My Profile Views</a></li>
		          </ul>
		        </li>	
		        
		       <li class="dropdown">
		          <a href="/myConnections">Connections</a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="">Connections</a></li>
		          </ul>
		        </li>	

		       <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Collections<span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="/collectionsAll">My Collections</a></li>		            
		            <li><a href="/collectionsNew">Create New Collection</a></li>		            
		          </ul>
		        </li>	

		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Beacon<span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="/jobsPostJob?">Post a Beacon</a></li>
		            <li><a href="/jobsEditJob?">Edit my Beacons</a></li>
		          </ul>
		        </li>		

		        		        
		       <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications<span class="caret"></span></a>		          
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="/profileNotifications?">Inbox</a></li>
		            <li><a href="/profileNotificationsInvitations?">Invitations</a></li>
		            <li><a href="/profileNotificationsSent?">Sent</a></li>
		            <li><a href="/profileNotificationsTrash?">Trash</a></li>
		          </ul>
		        </li>	
				
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Analytics<span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="/profileSkillsTrends?">Skills Trends</a></li>
		            <li><a href="/profileHourlyTrends?">Hourly Trends</a></li>
		            <li><a href="/profileGeographicTrends?">Geographic Trends</a></li>
		            <li><a href="/profileSearchTrends?">Search Trends</a></li>
		          </ul>
		        </li>
		        	        	    
		  	   {% endif %}
		  	           		      
		        <li>
		             {% if user %}
		    	          <a href="/logout?"><span class="glyphicon glyphicon-log-out"></span> Log Out </a>		              		              
		             {% else %}	
			   	          <a href="/login?"><span class="glyphicon glyphicon-log-in"></span> Log In</a>		              	   	          
		  	         {% endif %}     
		        </li>
		        
		        <li>
		        	{% if user %}
		        	      <!--  <a href="/profile?"><span class="glyphicon glyphicon-user"></span>{{user.email()}}</a> -->	              		              
		             {% else %}	
			   	          <a href="/signUp?"><span class="glyphicon glyphicon-thumbs-up"></span>Sign Up with Gmail</a>			              	   	          
		  	         {% endif %}     
			   	     	              	   	          
		        </li>


		      </ul>
		    </div><!-- /.navbar-collapse -->			    
        
        </div> <!-- CONTAINER FLUID CLLAPSE -->
	</nav><!--  END OUTER NAVBAR -->
	
	<div class="row">
		<div class="col-md-8">     
		<!-- CHILD TEMPLATES-->
			{% block content %}{% endblock %}
		<!-- END CHILD TEMPLATES-->
		</div>

		<!-- Sidebar -->
        <div class="col-md-2 col-md-offset-1 blog-sidebar" style="background-color:#FAFAFF;">         
		<br/>
				
          <div class="sidebar-module sidebar-module-inset">
            <h4>Caregiver University</h4>
            <p>Educational Content - Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
		
		  <br>

          <div class="sidebar-module sidebar-module-inset">
            <h4>Partner university</h4>
            <p>Accredited classes. mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
		
		  <br>
			
          <div class="sidebar-module sidebar-module-inset">
            <h4>Social Events for high performing caregivers </h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div> 
          
          <div class="sidebar-module">
            <h4>...</h4>
          </div>

			
        </div> <!-- end sidebar -->
      </div> <!-- end row -->  
        
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>  
		<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/languages/dos.min.js"></script>
		<script type='text/javascript' src='https://www.google.com/jsapi'></script>
		 
				
	</body>
	</html>