{% extends "profileMainPage.html" %}
{% block child %}


<br>
<div class="col-md-12" >
	<table class="table table-condensed table-hover">
		<tr>
		  <td class="active">From</td>
		  <td class="active">Message Title</td>
		  <td class="active">Date</td>
		</tr>

		<tr>
		  <td>Jane Doe</td>
		  <td>Hi. We met at the Farmers market last week.</td>
		  <td>Today</td>
		</tr>
		
		<tr>
		  <td>Leroy Jenkins</td>
		  <td>Hi. We met at church.</td>
		  <td>Today</td>
		</tr>

		<tr>
		  <td class="danger">Jane Smith</td>
		  <td class="danger">Hi. Our Mother.</td>
		  <td class="danger">Today</td>
		</tr>
		
		<tr>
		  <td>R. Smith</td>
		  <td>Hi. Farmers market.</td>
		  <td>August 15</td>
		</tr>



	</table>			 
</div>    


{% endblock %}