{% extends "profileMainPage.html" %}

{% block child %}

<script type="text/javascript"
        src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1',
                                                                 'packages':['corechart']}]}"></script>

<script type="text/javascript">

google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
function drawChart() {

  var data = google.visualization.arrayToDataTable([
    ['Month', 'CNA', 'PCA'],
    ['April',  1000,      400],
    ['May',  1170,      460],
    ['July',  660,       1120],
    ['August',  1030,      540]
  ]);

  var options = {
    title: 'Skills trend',
    hAxis: {title: '2014', titleTextStyle: {color: 'red'}}
  };

  var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

  chart.draw(data, options);

}

</script>


<!-- Begin Charting -->

<br>
<div class="col-md-offset-2 col-md-10" >	

	<div class="panel panel-primary">
	<div class="panel-body">
		
		Skills trends for Caregivers in your Zipcode. 
		
	</div>	
	</div>	

</div>

<div class="col-md-12" >
<div id="chart_div" style="width: 900px; height: 500px;"></div>
</div>

{% endblock %}