{% extends "profileMainPage.html" %}
{% block child %}
<br/>

•
•Update educational background
•Update certifications
•Update work experience
•Update preferred schedule/range
•What do we do about rates? Rate will depend on job for sure

<div class="col-md-12">
	<div class="panel panel-primary">
		<div class="panel-body">   
		  <h4>Terms and Conditions.</h4>
		</div>
	</div>
	
	<form role="form" class="form-horizontal">
	  <div class="form-group">
	  	<p><a href="#">You have not accepted the Terms and Conditions for using our Platform. Please read and accept the terms of conditions of the HumanLink platform</a></p>
	  	<br>
	    <div class="col-sm-offset-1 col-sm-3">
	      <button type="submit" class="btn btn-block">Accept</button>
	    </div>
	  </div>
	</form>
</div>

<br>

<div class="col-md-12">
	<div class="panel panel-primary">
			<div class="panel-body">   	
  				<h4>Personal details. Upload name, address</h4>
			</div>
	</div>


	<form role="form" class="form-horizontal">
	  <div class="form-group">
	    <div class="col-sm-offset-1 col-sm-3">
	      <button type="submit" class="btn btn-block">Accept</button>
	    </div>
	  </div>
	</form>
</div>

<br>

<div class="col-md-12">
	<div class="panel panel-primary">
		<div class="panel-body">  
		  <h4>Profile pictures. 
		  <small>Great profile pictures increase your chances of getting noticed.</small>
		  </h4>


			<form role="form" class="form-horizontal" action="{{ upload_url }}" enctype="multipart/form-data" method="post" >
			
			  <div class="form-group">  
			
			  </div>
			  
			  <div class="form-group">
			    <input type="file" class="col-sm-3" name="profilePic" id="profilePic">
			  	<div class="col-sm-offset-1 col-sm-3">
			      <button type="submit" class="btn btn-block">Upload</button>
			    </div>
			  </div>  	  
			</form>
		</div>
	</div>	
</div>


{% endblock %}		          
