{% extends "profileMainPage.html" %}
{% set active_page  = "profilePreview" %}
{% block child %}

      <div class="row featurette">
        <div class="col-md-12">
          <img class="featurette-image img-responsive" src="images/rogers-fire-department.jpg" alt="Generic placeholder image">
        </div>
      </div>
      
      <div class="row featurette">               
        <div class="col-md-12">
          <h2 class="featurette-heading">Rogers Fire Department <br/>
          <span class="text-muted">This is our HumanLink profile</span>
          </h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
 		 </div>
      </div>
       	
       	<br>       		      
		<div class="col-md-12" >			
			<div class="panel panel-primary">
			
			<div class="panel-heading">
			  <h3 class="panel-title">Complimented Me</h3>
			</div>			
			
			<div class="panel-body">
				    	 	   
			  <div class="col-sm-4 col-md-3">  
			    <div class="thumbnail">
			      <a href="/searchProfilePreviewCommunityLeader"><img src="/images/si-robertson.jpg" style="width: 150px; height: 135px;" alt="..."></a>	      
			      <div>
			        <h5>Si Robertson </h5> 
			        <p>Rogers Fire Department is awesome ... <a href="#">Details</a></p>				       	      					       					       		
     		
			      </div>
			    </div>	  
			  </div>						
							
			</div>	
			</div>			
		</div>
		
		<br>
		<div class="col-md-12" >			
			<div class="panel panel-primary">
			
			<div class="panel-heading">
			  <h3 class="panel-title">My Connections (Public)</h3>
			</div>			
			
			<div class="panel-body">	
						
							
			</div>	
			</div>			
		</div>

{% endblock %}		          
