{% extends "profileMainPage.html" %}
{% set active_page  = "profilePreview" %}
{% block child %}

      <div class="row featurette">
        <div class="col-md-12">
          <img class="featurette-image img-responsive" src="images/victoria-vorel.jpg" alt="Generic placeholder image">
        </div>
      </div>
      
      <div class="row featurette">               
        <div class="col-md-12">
          <h2 class="featurette-heading">Ariana S. <br/>
          <span class="text-muted">Mother of two. Awesome Caregivers</span>
          </h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
 		 </div>
      </div>
       	
		<br>
		<div class="col-md-12" >			
			<div class="panel panel-primary">
			
			<div class="panel-heading">
			  <h3 class="panel-title">Badges</h3>
			</div>			
						
			<div class="panel-body">	
				<div class="col-md-6" >

				<ul class="list-group">
				  <li class="list-group-item"><span class="badge">2100</span>Care hours provided</li>
				  <li class="list-group-item"><span class="badge">2</span>Number of no shows</li>
				  <li class="list-group-item"><span class="badge">14</span>Number of beacons answered</li>
				  <li class="list-group-item"><span class="badge">14</span>Number of beacons answered</li>
				</ul>
			
				</div>
			</div>				
			</div>			
		</div>

       	<br>       		      
		<div class="col-md-12" >			
			<div class="panel panel-primary">
			
			<div class="panel-heading">
			  <h3 class="panel-title">Complimented Me</h3>
			</div>			
			
			<div class="panel-body">
				    	 	   
			  <div class="col-sm-4 col-md-3">  
			    <div class="thumbnail">
			      <a href="/searchProfilePreviewCommunityLeader"><img src="/images/si-robertson.jpg" style="width: 150px; height: 135px;" alt="..."></a>	      
			      <div>
			        <h5>Si Robertson </h5> 
			        <p>Ariana is a wonderful ... <a href="#">Details</a></p>				       	      					       					       		
     		
			      </div>
			    </div>	  
			  </div>						
							
			</div>	
			</div>			
		</div>
		
		<br>
		<div class="col-md-12" >			
			<div class="panel panel-primary">
			
			<div class="panel-heading">
			  <h3 class="panel-title">My Connections</h3>
			</div>			
			
			<div class="panel-body">	
						
			  <div class="col-sm-4 col-md-3">  
			    <div class="thumbnail">
			      <a href="/profilePreviewFranchisee?"><img src="/images/jamie-hopperton.jpg" style="width: 150px; height: 135px;" alt="..."></a>	      
			      <div>
			        <h5>Franchisee </h5> 
			      </div>
			    </div>	  
			  </div>	
			  
			  <div class="col-sm-4 col-md-3">  
			    <div class="thumbnail">
			      <a href="/profilePreviewFireDepartment?"><img src="/images/rogers-fire-department.jpg" style="width: 150px; height: 135px;" alt="..."></a>	      
			      <div>
			        <h5>Rogers FD </h5> 
     		
			      </div>
			    </div>	  
			  </div>						
			  					
			  <div class="col-sm-4 col-md-3">  
			    <div class="thumbnail">
			      <a href="/searchProfilePreviewCommunityLeader"><img src="/images/jackie.jpg" style="width: 150px; height: 135px;" alt="..."></a>	      
			      <div>
			        <h5>Jackie </h5> 
     		
			      </div>
			    </div>	  
			  </div>						


			</div>	
			</div>			
		</div>

		<br>
		<div class="col-md-12" >			
			<div class="panel panel-primary">
			
			<div class="panel-heading">
			  <h3 class="panel-title">Education and Certifications</h3>
			</div>			
			
			<div class="panel-body">	
						
				<p>CNA (Schmeiding Center)<p>
				<p>Bentonville High School<p>
		
			</div>	
			
			</div>			
		</div>
		
{% endblock %}		          
