{% extends "profileMainPage.html" %}
{% set active_page  = "profileConnections" %}

{% block child %}

		{% set child_navigation = [
		    ('/profileConnections?', 'profileConnections', 'All Connections'),
		    ('/profileConnectionsCommunityLeaders?', 'profileConnectionsCommunityLeaders', 'Community Leaders'),
		 
		] -%}

		{% set child_active_page = child_active_page |default('profileConnections') -%} <!-- SET THE CURRENT ACTIVE_PAGE VARIABLE -->										

          <h4 class="sub-header">
				<ul class="nav nav-pills">
					{% for href, id, caption in child_navigation %}
					  <li{% if id == child_active_page  %} class="active"{% endif %}>
					  	<a href="{{ href|e }}">{{ caption|e }}</a>
					  </li>
					{% endfor %}
				</ul>     
          </h4>

			{% if child_active_page == 'profileConnections' %}
				<div class="alert alert-info">You have no Connections.</div>				 
			{% endif %}        
				 
        
				               				          
          {% block child_content %}{% endblock %}

{% endblock %}