{% extends "profileMainPage.html" %}

{% block child %}

<script type="text/javascript"
        src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1',
                                                                 'packages':['corechart']}]}"></script>
<script>
google.setOnLoadCallback(drawChart);
function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'x');
    data.addColumn('number', 'values');
    data.addColumn({id:'i0', type:'number', role:'interval'});
    data.addColumn({id:'i1', type:'number', role:'interval'});
    data.addColumn({id:'i2', type:'number', role:'interval'});
    data.addColumn({id:'i2', type:'number', role:'interval'});
    data.addColumn({id:'i2', type:'number', role:'interval'});
    data.addColumn({id:'i2', type:'number', role:'interval'});

    data.addRows([
        ['12 am', 25, 23, 27, 20, 23, 26, 30],
        ['3 am', 36, 23, 42, 22, 27, 30, 36],
        ['6 am', 34, 26, 37, 25, 31, 35, 37],
        ['9 am', 23, 21, 24, 21, 22, 26, 23.5],
        ['12 pm', 18, 17, 19, 13, 19, 18, 19],
        ['3 pm', 7.5, 9.5, 5.4, 8.9, 7, 10, 10],
        ['6 pm', 20, 18, 21, 17, 19, 23, 21],
        ['9 pm', 24, 24, 21, 24, 23, 21, 23]]);

    // The intervals data as narrow lines (useful for showing raw source
    // data)
		 var options_bars = {
		        title: '$-per-hour earned by CareGivers over the past 24 hours',
		        curveType: 'function',
		        series: [{'color': '#D9544C'}],
		        intervals: { style: 'bars' },
		        legend: 'none',
		    };
    var chart_lines = new google.visualization.LineChart(document.getElementById('chart_lines'));
    chart_lines.draw(data, options_bars);
}
</script>

<!-- Begin Charting -->
<br>
<div class="col-md-offset-2 col-md-10" >	

	<div class="panel panel-primary">
	<div class="panel-body">
		
		MIN/MAX/AVG Hourly trends for Caregivers. 
		
	</div>	
	</div>	

</div>

<div class="col-md-12" >
<div id="chart_lines" style="width: 900px; height: 500px;"></div>
</div>

{% endblock %}