{% extends "navbar.html" %}
{% block content %}
<br/>

<div class="col-md-12">
	<div class="panel panel-primary">
			<div class="panel-heading"> 	
  				<h4>Hello {{ user.email() }}. Please enter Contact Info (required for everyone)</h4>
			</div>
	
			<div class="panel-body"> 
			<form role="form" class="form-horizontal" action="profileEdit?" method="post">
			
			<div class="form-group">
			  <div class="col-sm-offset-1 col-sm-6">
			    <label for="firstName">First Name</label>
			    <input type="text" class="form-control" id="firstName" placeholder="First Name">			  
			  </div>
			</div>
				
			<div class="form-group">
			  <div class="col-sm-offset-1 col-sm-6">
			    <label for="lastName">Last Name</label>
			    <input type="text" class="form-control" id="lastName" placeholder="Last Name">			  
			  </div>
			</div>

			<div class="form-group">
			  <div class="col-sm-offset-1 col-sm-6">
			    <label for="email">Email</label>
			    <input type="text" class="form-control" id="email" placeholder="Email">			  
			  </div>
			</div>

			<div class="form-group">
			  <div class="col-sm-offset-1 col-sm-6">
			    <label for="mobileNumber">Mobile Number</label>
			    <input type="text" class="form-control" id="mobileNumber" placeholder="Mobile Number">			  
			  </div>
			</div>
			
			<div class="form-group">
			  <div class="col-sm-offset-1 col-sm-3">
			    <button type="submit" class="btn btn-block">Save</button>
			  </div>
			</div>
			
			</form>
			</div>
	</div>
</div>

{% endblock %}		          
