{% extends "profileMainPage.html" %}
{% block child %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Day', 'Number of Views over past 8 days'],
          ['Aug 1',  5],
          ['Aug 2',  7],
          ['Aug 3',  6],
          ['Aug 4',  10],
          ['Aug 5',  1],
          ['Aug 6',  17],
          ['Aug 7',  6],
          ['Aug 8',  1],
        ]);

        var options = {
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    
<div class="col-md-12">
	<div class="panel panel-primary">
	  <div class="panel-body">
	    <h4>Profile views. Last Eight days.</h4>
	  </div>
	</div>    

    <!--Div that will hold the  chart-->
    <div id="chart_div" style="width: 800px; height: 300px;"></div> <br/>

	<div class="panel panel-primary">
	  <div class="panel-body">
	    <h4>These community members looked at your profile yesterday.</h4>
	  </div>
	</div>    
    
    <div class="row">
	  
	  <div class="col-sm-4 col-md-3">  
	    <div class="thumbnail">
	      <img src="/images/ashley-turner.jpg" style="width: 150px; height: 150px;" alt="...">	      
	      <div class="caption">
	        <h4>Ashley T. </h4>      		
      		<p>Registered Nurse. Active community member.</p>
      		<p>
		        <h4>
		        <a href="#">
		        	<span class="label label-default">
		        		<span class="glyphicon glyphicon-envelope">
		        		</span>
	        		</span>
	       		</a>
 		
		        <a href="#">
		        	<span class="label label-default pull-right">
		        		<span class="glyphicon glyphicon-search">
		        		</span>
	        		</span>
	       		</a>	       			       			       		
	       		</h4>      		
      		</p>
	      </div>
	    </div>	  
	  </div>
	  
	  <div class="col-sm-4 col-md-3">  
	    <div class="thumbnail">
	      <img src="/images/member.jpg" style="width: 150px; height: 150px;" alt="...">	      
	      <div class="caption">
	        <h4>Anonymous </h4>      		
      		<p>This member has chosen to be anonymous.</p>

      		<p>
		        <h4>
		        <a href="#">
		        	<span class="label label-default">
		        		<span class="glyphicon glyphicon-envelope">
		        		</span>
	        		</span>
	       		</a>
 		
		        <a href="#">
		        	<span class="label label-default pull-right">
		        		<span class="glyphicon glyphicon-search">
		        		</span>
	        		</span>
	       		</a>	       			       			       		
	       		</h4>      		
      		</p>
	      </div>
	    </div>	  
	  </div>
	  
	</div>

	<div class="panel panel-primary">
	  <div class="panel-body">
	    <h4>Connecting with these community leaders can increase your profile views.</h4>
	  </div>
	</div>

    
    <div class="row">
    
	  <div class="col-sm-4 col-md-3">  
	    <div class="thumbnail">
	      <img src="/images/brother-samuel.jpg" style="width: 150px; height: 150px;" alt="...">	      
	      <div class="caption">
	        <h4>Samuel B. </h4>      		
      		<p>Pastor. Faith and Community. </p>
      		<p>
		        <h4>		        
		        <a href="#">
		        	<span class="label label-default">
		        		<span class="glyphicon glyphicon-envelope">
		        		</span>
	        		</span>
	       		</a>
 		
		        <a href="#">
		        	<span class="label label-default pull-right">
		        		<span class="glyphicon glyphicon-search">
		        		</span>
	        		</span>
	       		</a>	       			       			       		
	       		</h4>      		
      		</p>
      		
	      </div>
	    </div>	  
	  </div>

	  <div class="col-sm-4 col-md-3">  
	    <div class="thumbnail">
	      <img src="/images/deepak.jpg" style="width: 150px; height: 150px;" alt="...">	      
	      <div class="caption">
	        <h4>Deepak Chopra. </h4>      		
      		<p>Spiritual Guru. Influencer. </p>
      		<p>
		        <h4>		        
		        <a href="#">
		        	<span class="label label-default">
		        		<span class="glyphicon glyphicon-envelope">
		        		</span>
	        		</span>
	       		</a>
 		
		        <a href="#">
		        	<span class="label label-default pull-right">
		        		<span class="glyphicon glyphicon-search">
		        		</span>
	        		</span>
	       		</a>	       			       			       		
	       		</h4>      		
      		</p>
      		
	      </div>
	    </div>	  
	  </div>
	  
	  <div class="col-sm-4 col-md-3">  
	    <div class="thumbnail">
	      <img src="/images/pastor-jones.jpg" style="width: 150px; height: 150px;" alt="...">	      
	      <div class="caption">
	        <h4>Jones B. </h4>      		
      		<p>Pastor. Faith and Community. </p>
      		<p>
		        <h4>		        
		        <a href="#">
		        	<span class="label label-default">
		        		<span class="glyphicon glyphicon-envelope">
		        		</span>
	        		</span>
	       		</a>
 		
		        <a href="#">
		        	<span class="label label-default pull-right">
		        		<span class="glyphicon glyphicon-search">
		        		</span>
	        		</span>
	       		</a>	       			       			       		
	       		</h4>      		
      		</p>
      		
	      </div>
	    </div>	  
	  </div>
	  	  
	</div>

</div>	
	
{% endblock %}