{% extends "searchResultsParent.html" %}
{% block searchResultsChild %}
			<div class="alert alert-info">Your search results for "{{ cityOrZipcode }}" </div>	

		    <div class="row">

				<div class="panel panel-primary">
					<div class="panel-body">  
				  <h4>Caregivers</h4>
					</div>		    
				</div>		    
		    	 	   
			  <div class="col-sm-4 col-md-3">  
			    <div class="thumbnail">
			      <a href="/profilePreviewCaregiver"><img src="/images/victoria-vorel.jpg" style="width: 150px; height: 135px;" alt="..."></a>	      
			      <div>
			        <h5>Victoria</h5> 
			        <p>Caregiver</p>				       	      					       					       		
     		
			      </div>
			    </div>	  
			  </div>
			  

			</div> <!-- End row -->

		    <div class="row">

				<div class="panel panel-primary">
					<div class="panel-body">  
				  <h4>Private Duty</h4>
					</div>		    
				</div>		    
		    	 	   
			  <div class="col-sm-4 col-md-3">  
			    <div class="thumbnail">
			      <a href="/profilePreviewFranchisee"><img src="/images/jamie-hopperton.jpg" style="width: 150px; height: 135px;" alt="..."></a>	      
			      <div>
			        <h5>Ariana S. </h5> 
			        <p>Home Instead - Franchisee</p>				       	      					       					       		
     		
			      </div>
			    </div>	  
			  </div>
			  

			</div> <!-- End row -->



		    <div class="row">

				<div class="panel panel-primary">
					<div class="panel-body">  
				  <h4>Community Leaders</h4>
					</div>	
				</div>		    
		    
		    	 	   
			  <div class="col-sm-4 col-md-3">  
			    <div class="thumbnail">
			      <a href="/searchProfilePreviewCommunityLeader"><img src="/images/si-robertson.jpg" style="width: 150px; height: 135px;" alt="..."></a>	      
			      <div>
			        <h5>Si Robertson </h5> 
			        <p>Celebrity</p>				       	      					       					       		
     		
			      </div>
			    </div>	  
			  </div>
			  
			  <div class="col-sm-4 col-md-3">  
			    <div class="thumbnail">
			      <a href="/searchProfilePreviewCommunityLeader"><img src="/images/pastor-jones.jpg" style="width: 150px; height: 135px;" alt="..."></a>	      
			      <div>
			        <h5>Pastor Jones</h5> 
			        <p>Grassroots Community Builder.</p>				       	      					       					       		
     		
			      </div>
			    </div>	  
			  </div>
			  
			</div> <!-- End row -->

{% endblock %}