{% extends "searchResultsParent.html" %}
{% block searchResultsChild %}


	    <div class="row featurette">
	      <div class="col-md-12">
	        <img class="featurette-image img-responsive" src="images/jackie.jpg" alt="Generic placeholder image">
	      </div>
	    </div>
	    
	    <div class="row featurette">               
	      <div class="col-md-12">
	        <h2 class="featurette-heading">Jackie S. <br/>
	        <span class="text-muted">Case Manager. Mother of two.</span>
	        </h2>
	        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	        <p class="lead"><span class="label label-info">Background verified</span> <span class="label label-default">Add to my collection</span></p>
		  </div>
	    </div>
	     	
	    <br>	     		      

	    <div class="page-header"><h3>How you are connected</h3></div>

		<canvas id="myCanvas" width="400" height="300">
		
		</canvas>

		

	    <script type="text/javascript">
	        function init() {
	            var can = document.getElementById("myCanvas");
	            var ctx = can.getContext("2d");
	        }
	    </script>
	    
{% endblock %}		          
