{% extends "navbar.html" %}
{% block content %}

<section id="one">
<div class="jumbotron">
  <div class="container">
   	<h2>Looking for ElderCare?<br><small>Tired of paying high subscription rates and lack of accountability?</small></h2>
  </div>
</div>
</section>

	<div class="row">
	   <div class="col-sm-1 col-md-1"></div>
	   <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-0">        
			<div class="blog-post">
			  <ol>
			    <li><h4>Need a high quality service that you can trust remotely?</h4></li>		    
			    <li><h4>Tired of using impersonal and transactional care-giving franchises?</h4></li>
			    <li><h4>Need a system that allows you to split Eldercare bills with your siblings?</h4></li>
			    <li><h4>Frustrated with subscription based online services that continue billing you with poor service levels?</h4></li>
			</div><!-- /.blog-post -->
		</div>
	</div>
	
	<br/>
	
	<div class="row">
	   <div class="col-sm-1 col-md-1"></div>
	   <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-0">        
		<h4>Here's how CareTiger can help-</h4>
	   </div>
	</div>
	<div class="row">
	   <div class="col-sm-1 col-md-1"></div>
	   <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-0">        
			<div class="blog-post">
			  <ol>
			    <li><h4>Sign Up and connect with our Franchisees or Caregivers. <br><small>Its really easy.</small></h4></li>
			    <li><h4>Review Profiles. <br><small>Review profiles of our Franchisees or CareGivers in your City/Zipcode. No Charge.</small></h4></li>
			    <li><h4>Request Assessment.<br><small>Request a community leader(s) in your network to assess your Elders needs. No Charge.</small></h4></li>
			    <li><h4>Get a second opinion. Or third. <br><small>Our community leaders are passionate about helping you. No Charge.</small></h4></li>
			    <li><h4>Review care plan. <br><small>Our community leaders will create a plan suitable to your needs</small></h4></li>
			    <li><h4>Select care givers. <br><small>Our community leaders will create a portfolio of CareGivers suitable to your needs</small></h4></li>
			    <li><h4>Approve Plan and care givers. <br><small>Review and Approve the plan.</small></h4></li>  
			    <li><h4>Hire the Community Leader and let him/her coordinate the care for you. <br><small>Its really that simple.</small></h4></li>  		          
			  </ol>
			</div><!-- /.blog-post -->
	
		</div>
	</div>



<div class="jumbotron">
  <div class="container">
   	<h2>Awesome Profiles. <br><small>Our tools will help you build awesome profiles and manage your scheduling, case-management and finances.</small></h2>
  </div>
</div>


	<div class="row">
		<div class="col-sm-4">
		  <div class="thumbnail">
		    <a><img src="images/jamie-hopperton.jpg"></a>
		    <div class="caption">
		      <h5>
			      <p>Jamie. Mother of two. Community organizer.</p>
			      <a href="/profilePreview?">About me...</a>	      
		      </h5> 
		    </div>
		  </div>
		</div>
	
		<div class="col-sm-4">
		  <div class="thumbnail">
		    <a><img src="images/alex-milton.jpg"></a>
		    <div class="caption">
		      <h5><p>Alex. Avid reader. Retired teacher.</p><a href="/profilePreview?">About me...</a></h5>
		    </div>
		  </div>
		</div>
	
		<div class="col-sm-4">
		  <div class="thumbnail">
		    <a><img src="images/ashley-turner.jpg"></a>
		    <div class="caption">
		      <h5>
			      <p>Ashley. Yoga Teacher. Certified Nurse.</p>
			      <a href="/profilePreview?">About me...</a>	
		      </h5>
		    </div>
		  </div>
		</div>
		
	</div>


<section id="three">
<div class="jumbotron">
  <div class="container">
   	<h2>Are you a CareGiver looking for work? <br><small>Build your profile on our site manage your schedule and finances.</small></h2>
  </div>
</div>
</section>


	<div class="row">
	   <div class="col-sm-1 col-md-1"></div>
	   <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-0">        
			<div class="blog-post">
			  <ol>
			    <li><h4>Are you Interested in providing Eldercare? </h4></li>
			    <li><h4>Want flexibility in schedule and want to limit the distance you travel to provide care? </h4></li>
			</div><!-- /.blog-post -->
		</div>
	</div>
	
	<br/>
	
	<div class="row">
	   <div class="col-sm-1 col-md-1"></div>
	   <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-0">        
			<div class="blog-post">
			  <ol>
			    <li><h4>Sign up and create your community-leadership profile. <br><small>Follow our guidelines to create amazing personal profiles. No Charge.</small></h4></li>
			    <li><h4>Connect with Community Leaders. <br><small>Connect with Community Leaders and build your network of friends who will help you get more work</small></h4></li>
			    <li><h4>Use our publishing platform to showcase your community involvement. <br><small>Our customers want to know about you! </small></h4></li>
			    <li><h4>Connect with people looking for care. <br><small>Our platform makes it easy for people looking for care to connect with you.</small></h4></li>  				    
			    <li><h4>Keep you certifications upto date with our ongoing Educational material. <br><small>Our educational services team will provide the most relevant online seminars.</small></h4></li>  				    
			    <li><h4>Provide Care. Get Paid. <br><small>Its really that simple.</small></h4></li>  		          
			  </ol>
			</div><!-- /.blog-post -->	
		</div>
	</div>
	
	<br>
	
	<div class="row">
	   <div class="col-sm-1 col-md-1"></div>
	   <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-0">        
			<div class="blog-post">
			<h4>Optional</h4>	
			  <ul>
			    <li><h4>Background Verification. <br><small>Our customers would like to know that you are background verified. We will provide tools that make it simple and cheap.</small></h4></li>
			  </ul>
			</div><!-- /.blog-post -->	
		</div>
	</div>

	<br/>


	<br/>

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 HumanLink, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> &middot; <a href="/blog">Blog</a> &middot;</p>
      </footer>


<script src="/js/admin.js"></script>	
		
{% endblock %}
