<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <input ng-model="certification.name" placeholder="CNA / PCA / HHA"
                   id="care-training-name" class="form-control"/>

            <p class="help-block">Name of the certification or degree received.</p>
        </div>

        <div class=" form-group">
            <input ng-model="aboutMe.trainingHours" placeholder="Hours of training"
                   id="care-training-hours" class="form-control"/>

            <p class="help-block">Hours formal training received at this facility.</p>
        </div>

        <div class=" form-group">
            <input type="text" ng-model="certification.school" class="form-control">

            <p class="help-block">Please enter the name of the School / Facility where you
                received your formal training as a Care Professional.</p>
        </div>

        <div class="form-inline">
            <div class="form-group">
                <input type="text" ng-model="certification.month" class="form-control">

                <p class="help-block">Month of graduation.</p>
            </div>

            <div class="form-group">
                <input type="text" ng-model="certification.year" class="form-control">

                <p class="help-block">Year of graduation.</p>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-sm btn-default"
                    ng-click="addCertification(certification)">
                Add certification
            </button>
            <button type="button" class="btn btn-sm btn-danger"
                    ng-click="addCert=true">
                Cancel
            </button>
        </div>
    </div>
</div>
