<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Professional Credentials</h2>
    </div>
    <div class="panel-body">

        <div class="row form-group">
            <label for="certifications" class="col-sm-3 control-label ">Certificates/Degrees</label>

            <div class="col-sm-9">
                <div ng-hide="aboutMe.certifications.length">
                    No Certificates on file.
                </div>
                <div ng-show="aboutMe.certifications.length">
                    <div ng-repeat="cert in aboutMe.certifications">
                        <div class="panel panel-default">
                            <p class="lead">{{ cert.name }}</p>

                            <p>{{cert.school}} - {{cert.month}} {{ cert.year }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <a type="button" class="btn" ng-click="addCert =! addCert">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Add Certificate
                    </a>
                </div>
                <div ng-hide="addCert">
                    <hl-add-certification></hl-add-certification>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <label for="certifications" class="col-sm-3 control-label ">Professional Experiences</label>

            <div class="col-sm-9">
                <div ng-hide="aboutMe.experiences.length">
                    No Experiences on file.
                </div>
                <div ng-show="aboutMe.experiences.length">
                    <div ng-repeat="exper in aboutMe.experiences">
                        <div class="panel panel-default">
                            <p class="lead">{{ exper.name }}</p>

                            <p>{{ exper.title }} - {{exper.month}} {{ exper.year }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <a type="button" class="btn" ng-click="addExper =! addExper">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Add Experience
                    </a>
                </div>
                <div ng-hide="addExper">
                    <hl-add-experience></hl-add-experience>
                </div>
            </div>
        </div>
        <hr>

        <div class="row form-group">
            <div class="col-sm-3">
                <button class="btn btn-secondary"
                        ng-click="caregiverUpdate(aboutMe)"
                        ng-disabled="ctrlHelper.isLoading">Save Professional Credentials
                </button>
            </div>
        </div>

    </div>
</div>