<img src="/images/{{caregiver.bannerUrl}}" class="row profile-banner"/>
<div class="row header info">
    <div class="col-md-12">
        <img src="/images/{{caregiver.pictureUrl}}" class="col-md-2 profile-image"/>
        <div class="col-md-3 profile-info">
            <h2 class="profile-name">{{caregiver.first}} {{caregiver.last}}</h2>
            <h4 class="profile-phone">{{caregiver.email}}</h4>
            <ul class="rating">
                <li ng-class="(1<=caregiver.rating) ? 'active-star': 'inactive-star'">
                    <span class="glyphicon glyphicon-star"></span>
                </li>
                <li ng-class="(2<=caregiver.rating) ? 'active-star': 'inactive-star'">
                    <span class="glyphicon glyphicon-star"></span>
                </li>
                <li ng-class="(3<=caregiver.rating) ? 'active-star': 'inactive-star'">
                    <span class="glyphicon glyphicon-star"></span>
                </li>
                <li ng-class="(4<=caregiver.rating) ? 'active-star': 'inactive-star'">
                    <span class="glyphicon glyphicon-star"></span>
                </li>
                <li ng-class="(5<=caregiver.rating) ? 'active-star': 'inactive-star'">
                    <span class="glyphicon glyphicon-star"></span>
                </li>
            </ul>
        </div>
        <div class="col-md-5 caregiver-badges">
            <div class="caregiver-badge">
                <span class="caregiver-badge-icon glyphicon glyphicon-plus"></span>
                <br/>
                <h4 class="caregiver-badge-title"><span class="caregiver-badge-highlight">{{caregiver.badges.care_hours}}</span> Care Hours</h4>
            </div>
            <div class="caregiver-badge">
                <span class="caregiver-badge-icon glyphicon glyphicon-remove"></span>
                <br/>
                <h4 class="caregiver-badge-title"><span class="caregiver-badge-highlight">{{caregiver.badges.no_shows}}</span> No<br/>Shows</h4>
            </div>
            <div class="caregiver-badge">
                <span class="caregiver-badge-icon glyphicon glyphicon-envelope"></span>
                <br/>
                <h4 class="caregiver-badge-title"><span class="caregiver-badge-highlight">{{caregiver.badges.beacons_answered}}</span> Beacons Answered</h4>
            </div>
        </div>
        <button class="col-md-1 btn edit-profile" ng-if="owner">Edit Info</button>
        <button class="col-md-1 btn edit-profile" ng-if="!owner">Connect</button>
        <ul class="verifications">
            <li ng-if="caregiver.background_verified"><span class="glyphicon glyphicon-check"></span> Background Verified</li>
            <li ng-if="caregiver.community_verified"><span class="glyphicon glyphicon-check"></span> Verified by Community Manager</li>
        </ul>
    </div>
</div>

<div class="row caregiver-profile-description">
    <div class="col-md-8">
        <h1 class="caregiver-description-title">Mother of two. Awesome Caregivers.</h1>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

        <div class="reviews">
            <h3>Reviews ({{caregiver.complements.length}})</h3>
            <ul>
                <li ng-repeat="complement in caregiver.complements track by $index">
                    <div class="media">
                        <div class="media-left">
                            <img src="https://placehold.it/90x90" alt=""/>
                        </div>
                        <div class="media-body thumbnail-description">
                            <h4 class="media-heading">{{complement.name}}</h4>
                            <p>{{complement.description}}</p>
                            <a>Read More</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">

        <div class="caregiver-section">
            <h3 class="caregiver-section-header">Education and Certifications</h3>
            <ul class="caregiver-section-list">
                <li ng-repeat="cert in caregiver.certifications">{{cert}}</li>
            </ul>
        </div>

        <div class="caregiver-section">
            <h3 class="caregiver-section-header">Caregivers Connections</h3>
            <ul class="caregiver-section-list">
                <li class="thumbnail-section" ng-repeat="connection in caregiver.connections">
                    <div class="media">
                        <div class="media-left">
                            <img src="https://placehold.it/90x90" alt=""/>
                        </div>
                        <div class="media-body thumbnail-description">
                            <h4 class="media-heading">{{connection.first}} {{connection.last}}</h4>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

