<div class="account-join">
  <div class="card">

    <div ng-switch="viewMode">

      <div ng-switch-when="join_form">
        <div class="col-md-8 col-md-offset-2">

          <h3 class="text-center">Join HumanLink.</h3>

          <form class="form-horizontal" role="form">

            <div class="form-group">
              <label for="email" class="col-md-4 control-label">Email</label>

              <div class="col-md-8">
                <input type="email" class="form-control" id="email"
                       placeholder="name@example.com"
                       ng-model="signupModel.email" hl-focus>
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="col-md-4 control-label">Password</label>

              <div class="col-md-8">
                <input type="password" class="form-control" id="password"
                       placeholder="Password"
                       ng-model="signupModel.password">
              </div>
            </div>

            <div class="form-group">
              <label for="password_confirm" class="col-md-4 control-label">Confirm</label>

              <div class="col-md-8">
                <input type="password" class="form-control" id="password_confirm"
                       placeholder="Confirm password"
                       ng-model="signupModel.password_confirm">
              </div>
            </div>

            <div class="form-group">
              <label for="invitation_code" class="col-md-4 control-label">Invitation
                code</label>

              <div class="col-md-8">
                <input type="text" class="form-control" id="invitation_code"
                       placeholder="abcd"
                       ng-model="signupModel.invite" maxlength="5">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">Primary use</label>

              <div class="col-md-8">
                <div class="radio">
                  <label>
                    <input type="radio" ng-model="signupModel.account_type" value="0">
                    Caregiver
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" ng-model="signupModel.account_type" value="1">
                    Care seeker
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-4 col-md-8">
                By clicking on "Join for free" below, you are agreeing to the
                <a href="/terms" target="_blank">Terms and Conditions</a>.
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-4 col-md-8">
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary"
                        ng-click="join(signupModel)" ng-disabled="ctrlHelper.isLoading">
                  Join for free
                </button>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-4 col-md-8">
                Already a member? <a ui-sref="login">Sign in.</a>
              </div>
            </div>

          </form>

        </div>
      </div>

      <div ng-switch-when="join_success">
        <h3>You're awesome.</h3>

        <div>An email has been sent to <strong>{{ signupModel.email }}</strong> with
          further instructions.
        </div>
      </div>

    </div>
    <!-- ng-switch -->

  </div>
</div>

