<div class="account-login" id="login-view">
  <div class="card">
    <div class="col-md-8 col-md-offset-2">

      <form class="form-horizontal" name="form">
        <h2 class="text-center">Welcome back!</h2>
        <h4 class="text-center">Sign in to your account.</h4>

        <div class="form-group">
          <label for="email" class="col-sm-3 control-label"><h4>Email</h4></label>

          <div class="col-sm-9 col-md-7">
            <input type="email" id="email"
                   class="form-control input-lg"
                   placeholder="name@example.com"
                   ng-model="loginModel.email"
                   required
                   hl-focus>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="col-sm-3 control-label"><h4>Password</h4></label>

          <div class="col-sm-9 col-md-7">
            <input type="password" id="password" name="password"
                   class="form-control input-lg"
                   placeholder="******"
                   ng-model="loginModel.password"
                   required minlength="6">

            <div class="has-warning" ng-if="form.password.$dirty">
              <div class="help-block" ng-messages="form.password.$error">
                <div ng-message="minlength">Please enter at least six characters.
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3"></div>
          <div class="col-sm-9 col-md-7">
            <button class="btn btn-lg btn-block btn-secondary" ng-click="login(loginModel)"
                    ng-disabled="!form.$valid || vm.submitBusy">
              Sign in
            </button>
          </div>
        </div>

      </form>
    </div>
    <div class="col-sm-6 col-sm-offset-3 vmargin20">
      <h4>Forgot your password? Reset it
        <a ui-sref="reset">here</a>.</h4>

      <h4><a ui-sref="join">Sign up</a> to get started.</h4>
    </div>

  </div>
</div>
