<div class="row profile-banner">
</div>
<div class="row header info">
    <div class="col-md-12">
        <button class="btn pull-right edit-profile">Edit Info</button>
        <div class="profile-image"></div>
        <div class="profile-info">
            <h2 class="profile-name">First Last</h2>
            <h4 class="profile-phone">(555)555-5555</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1 class="patient-header">Patients</h1>
        <button class="btn add-patient">Add Patient</button>
        <div class="row patient" ng-repeat="patient in patients">
            <div class="patient-image"></div>
            <div class="patient-info">
                <h2 class="patient-name">{{patient.name}}</h2>
                <h4 class="patient-phone">{{patient.phone}}</h4>
            </div>
        </div>
    </div>
</div>
