<div class="accounts-profile">

<img src="https://placehold.it/700x300" class="profile-banner" alt=""/>
<div class="row">
    <div class="col-md-8">
        <img src="https://placehold.it/200x200" class="profile-image" alt=""/>
        <div class="profile-info">
            <h2>{{profile.first}} {{profile.last}}</h2>
            <p>{{profile.email}}</p>
        </div>
    </div>
    <div class="col-md-4" align="right">
        <button class="btn btn-transparent">Edit Info</button>
        <h4>You have saved {{profile.money_saved | currency}} so far!</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Care Recipients</h1>
        <button class="btn btn-default">Add Care Recipient</button>
        <div class="media" ng-repeat="care_recipient in care_recipients">
            <div class="media-left">
                <img src="https://placehold.it/100x100" alt=""/>
            </div>
            <div class="media-body">
                <h2 class="media-heading"><a href="#">{{ care_recipient.name }}</a></h2>
                <p>{{ care_recipient.phone }}</p>
            </div>
        </div>
    </div>
</div>

</div>