<div class="settings-notifications">
  <div class="card card-half">
    <div ng-switch="viewMode">

      <div ng-switch-when="construction">
        <p class="lead text-center">This screen is under construction.</p>
      </div>

      <div ng-switch-when="working">
        <div class="row">
          <form class="form-horizontal">
            <h2 class="text-center">Update Password</h2>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-3">
                <p>New password</p>
              </div>
              <div class="col-sm-6">
                <input type="password" class="form-control" id="password"
                       placeholder="New password"
                       ng-model="passwordModel.password">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-3">
                <p>Confirm new password</p>
              </div>
              <div class="col-sm-6">
                <input type="password" class="form-control" id="password_confirm"
                       placeholder="Confirm password"
                       ng-model="passwordModel.password_confirm">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-offset-4 col-sm-4">
                <button ng-click="resetPassword(passwordModel)"
                        class="btn btn-block btn-secondary">Update
                </button>
              </div>
            </div>

          </form>

        </div>
      </div>

    </div>
  </div>
</div>
