<div class="accounts-profile">
  <div class="panel panel-default">

  <div class="row text-center">
      <div class="col-sm-offset-4 col-sm-4">
        <img src="/images/my_profile.png" class="profile-image" alt=""/>
        <h5>Rogers, AR</h5>
      </div>
    </div>

    <div class="row text-center">
      <h2>Hello, My name is Ven Vadlamani</h2>
      <h4>I am available on MTWThF from 4am to 6pm.</h4>
    </div>

    <hr class="profile-divider">

    <div class="profile-trust">
      <div class="row">
        <div class="col-sm-3">
          <h3>Trust and Verification</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-2">
          <div class="col-sm-3">
            <div class="col-sm-3"><span class="glyphicon glyphicon-ok-sign"></span></div>
            <div class="col-sm-9">
              <p>Email</p>
              <small>Email verified</small>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="col-sm-3"><span class="glyphicon glyphicon-ok-sign"></span></div>
            <div class="col-sm-9">
              <p>Mobile number</p>
              <small>(XXX) XXX - XX12</small>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="col-sm-3"><span class="glyphicon glyphicon-ok-sign"></span></div>
            <div class="col-sm-9">
              <p>Offline ID</p>
              <small>Drivers License</small>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="col-sm-3"><span class="glyphicon glyphicon-ok-sign"></span></div>
            <div class="col-sm-9">
              <p>Background verified</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="profile-divider">

    <div class="row">
      <div class="col-sm-3">
        <h3>About me</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3">
        <p> My name is Ven. I am the Founder and CEO of Humanlink. I live in Rogers,
          Arkansas. I started Humanlink in my garage about two years ago to solve a
          personal problem that I was facing.</p>

        <p>My Grandma, Savitri (seated in the picture above), lives in India and is 89
          years old. She is bed ridden. My mom, Kalyani (green saree above), 68, is the
          primary caregiver for my grandmother. When I noticed a rapid and non-natural
          deterioration in my mom's health (heart problems, sleeplessness, weight
          problems, peripheral edema, etc.) as a result of the pressures of caregiving I
          decided to do something about it.</p>

        <p>Caregiving is very stressful for most aging families and the stress worsens
          when professional caregivers quit unexpectedly or don't show up. Our customer
          development in Arkansas included talking to patient families, staffing agencies,
          caregivers, nursing educators, physicians and medical establishments. We heard
          consistently of the need for caregiver team coordination via a tool that would
          alleviate staffing problems, particularly challenges with last minute caregiver
          no-shows.</p>


      </div>
    </div>

  </div>
</div>
