<div class="settings-main">
    <div class="col-md-3">
        <div class="list-group">
            <a href class="list-group-item" ui-sref-active-eq="active"
               ui-sref="settings.payments">Payment Methods</a>
            <a href class="list-group-item" ui-sref-active-eq="active"
               ui-sref="settings.security">Security</a>
        </div>
    </div>

    <div class="col-md-9">
        <div ui-view="loader" ng-hide="base.viewReady"></div>

        <div ui-view ng-show="base.viewReady"></div>
    </div>

</div>