<div class="settings-notifications">
  <form class="form-horizontal" role="form">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Message and Email settings</h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <h4>Notify me when</h4>

            <p class="help-block">(These can be disabled anytime.)</p>
          </div>
          <div class="col-sm-8">
            <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="notificationModel.sms_from_user">
                    I receive a message from another person on Humanlink
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="notificationModel.sms_account_changes">
                    Changes are made to my humanlink account
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <h4>I want to receive</h4>

            <p class="help-block">(These can be disabled anytime)</p>
          </div>

          <div class="col-sm-8">
            <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"
                           ng-model="notificationModel.email_updates">
                    Company updates, surveys, etc.
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"
                           ng-model="notificationModel.email_promotions">
                    General promotions, user survey, etc.
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="form-group row">
          <div class="col-sm-4">
            <button type="submit" class="btn btn-block btn-secondary"
                    ng-click="updateNotifications(notificationModel)">Save Settings
            </button>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>
<pre>{{ notificationModel | json }}</pre>