<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-3">
                <h3 class="panel-title">Past Transactions</h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-1">
                    <h4>Date</h4>
                </div>
                <div class="col-sm-3">
                    <h4>Care Professional</h4>
                </div>
                <div class="col-sm-3">
                    <h4>Comments</h4>
                </div>
                <div class="col-sm-2">
                    <h4>Hours</h4>
                </div>
                <div class="col-sm-2">
                    <h4>Amount</h4>
                </div>
                <div class="col-sm-1">
                    <h4>Paid</h4>
                </div>
            </div>
        </div>
    </div>
</div>
