<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-3">
                <h3 class="panel-title">Past Transactions</h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Date</td>
                    <td>Care Recipient</td>
                    <td>Care Professional</td>
                    <td>Amount</td>
                    <td>Paid</td>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="tran in vm.settings.transactions">
                    <td>{{ tran.date }}</td>
                    <td>{{ tran.recipient }}</td>
                    <td>{{ tran.caregiver }}</td>
                    <td>{{ tran.amount | currency}}</td>
                    <td>{{ tran.paid }}</td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
