<div class="jumbotron">
    <h2 ng-if="filtered.length" class="text-center">You have {{ filtered.length }} favorites.</h2>
    <h2 ng-if="!filtered.length" class="text-center">You have no favorites at this time.</h2>
</div>
<div class="row">
    <div ng-repeat="favorite in filtered = (connections | filter:{is_favorite : false})">
        <div class="col-md-4">
            <div class="panel-connections panel-profile-connections">
                <div class="panel-heading-connections text-center bg-connections">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://placehold.it/100x100" class="img-circle">
                        </div>
                        <div class="col-md-8">
                            <h4>{{ favorite.first }} {{ favorite.last }}</h4>
                            <h6>{{ favorite.account_type }}</h6>
                            <button class="btn btn-sm btn-default" href="/messages#/compose/{{ favorite.account_id }}">
                                <span class="glyphicon glyphicon-envelope"> Message</span>
                            </button>
                            <button class="btn btn-sm btn-default" href="#">
                                <span class="glyphicon glyphicon-user"> Details</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="list-justified-container">
                    <ul class="list-justified text-center">
                        <li>
                            <h5>
                                <rating ng-model="favorite.rating" max="5" readonly="true">
                                </rating>
                            </h5>
                            <p>Rating</p>
                        </li>
                        <li>
                            <h5><span class="badge">24</span></h5>
                            <p>Connections</p>
                        </li>
                        <li>
                            <h5><span class="badge">10</span></h5>
                            <p>Beacons</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>