<div class="settings-notifications">
  <form class="form-horizontal" ng-submit="inviteEmail(inviteModel)">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h2 class="panel-title">Invite new member</h2>
      </div>

      <div class="panel-body">

        <div class="form-group">
          <div class="col-sm-3">
            <p>Email</p>
          </div>
          <div class="col-sm-6">
            <input type="email" class="form-control" id="email"
                   placeholder="Email"
                   ng-model="inviteModel.email" required>

          </div>
        </div>

        <hr>
        <div class="form-group row">
          <div class="col-sm-4">
            <button type="submit" class="btn btn-block btn-secondary">Invite
            </button>
          </div>
        </div>

      </div>

    </div>
  </form>
</div>