<div class="jumbotron">
    <h2 ng-if="connections.length" class="text-center">You have {{ connections.length }} connections.</h2>
    <h2 ng-if="!connections.length" class="text-center">You have no connections at this time.</h2>
</div>
<div class="row">
    <div ng-repeat="connection in connections">
        <div class="col-md-4">
            <div class="panel-connections">
                <div class="panel-heading-connections text-center bg-connections">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://placehold.it/100x100" class="img-circle-connections">
                        </div>
                        <div class="col-md-8">
                            <h4>{{ connection.first }} {{ connection.last }}</h4>
                            <h6>{{ connection.account_type }}</h6>
                            <a class="btn btn-sm btn-default" href="/messages#/compose/{{ connection.account_id }}">
                                <span class="glyphicon glyphicon-envelope"> Message</span>
                            </a>
                            <a class="btn btn-sm btn-default" href="#">
                                <span class="glyphicon glyphicon-user">Detail</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>