.navbar {
  margin: 0;

  .nav > li > a {
    color: @link-color;
  }

  .navbar-button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    color: white !important;
    border: solid 2px @primary;
    background: @primary;
    transition: all 0.3s ease-in-out;
  }
  .navbar-button:hover {
    color: @primary !important;
  }

}

.navbar-brand {
  padding: 0;

  img {
    width: 180px;
    margin: 7px 0;
  }
}

