// Colors
@background: #fff;
@backgroundFaded: #eee;

@primary: rgb(0, 147, 208);

// Primary Variants -
@primaryDark: rgb(23, 74, 124);
@primaryLight: rgb(248, 237, 155);
@primaryNeutral: rgb(95, 96, 98);
