.container-main, .container-footer {
    padding: 15px;
}

.container-footer {
    margin-top: 15px;
}

// Requires all parent items to also have 100% height
.full-screen {
    height: 100%;
    width: 100%;
}

// Overriding bootstrap
.row {
    margin: 0;
}
