// Colors
@background: #fff;
@backgroundFaded: #eee;
@border: darken(@backgroundFaded, 10);

@primary: rgb(23, 74, 124);

// Primary Variants -
@secondary: rgb(0, 147, 208);
@accent: rgb(248, 237, 155);
@type: rgb(95, 96, 98);
