@import url(//fonts.googleapis.com/css?family=Arvo:400,700);

body {
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @serif-font;
}

.container-main,
.container-footer {
    background-color: @background;
    color: @type;
    margin-top: 15px;
    padding: 15px;
    border-radius: 6px;
}

.container-footer ul {
    margin: 0;
}

// Extra buttons.
.btn-transparent {
    .button-variant(@btn-info-border; @background; @btn-info-border);
}
.btn-secondary {
    .button-variant(@btn-primary-color; @secondary; darken(@secondary, 5%));
}


// Zero margins.
.no-top-margin {
    margin-top: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-side-margin {
    margin-right: 0;
    margin-left: 0;
}